openapi: 3.0.3
info:
  version: 5.0.0
  title: Open Education API
  description: "OpenAPI (fka Swagger) specification for the Open Education API.\n<br/>\nNOTE:This is a subset of the OOAPI that is used in the \"MBO-Toetsafname\" project (sponsored by mbo-digitaal in the netherlands) \n<br/>\n<figure>\n\t<a target=\"_blank\" href=\"OOAPIv5_model.png\">\n  <img src=\"OOAPIv5_model.png\" alt=\"OOAPI information model that feeds OOAPI specification\" width=\"70%\" class=\"img-responsive\">\n  </a>\n  <figcaption> OOAPI information model that feeds OOAPI specification (click to enlage)</figcaption>\n</figure>\n\nThe model provides an overview of how the objects on which the API is specified are related. The overarching concept educations is not found in the in the end points of the API. The smaller concepts of programOffering, courseOffering and conceptOffering are all found in the offering endpoint. The different types of association can all be found in the association endpoint.\n\nThe original file for this model can be found <a target=\"_blank\" href=\"OOAPIv5_model_v0.4.drawio\">here</a>\n\nThe program relations object is not found as a separate endpoint but relations between programs can be found within the program endpoint by expanding that endpoint.\n\nInformation about earlier meetings and presentations can be found <a target=\"_blank\" href=\"https://github.com/open-education-api/notulen\">here</a>\n\nInformation on the EDU-API model that was also used for this api is shown <a target=\"_blank\" href=\"eduapi.png\">here</a>\n"
  x-logo:
    url: ../logo.png
servers:
  - url: http://demo01.eduapi.nl/v5
    description: SURF demo implementation
tags:
  - name: associations
    description: |
      The associations API provides information about the association between an offering and a person (e.g. students, lecturers, etc).
      Associations can be posted between institutions This requires information details on the offering and the persons.
      To allow for this information a complete person object and offering object can be part of the API.
      The structure is explained in the following model:
      <table>
        <tr>
         <td></td>
         <td colspan=3 align=center>offering</td>
        </tr>
        <tr>
         <td rowspan=3>student</td>
         <td></td>
         <!-- <td>internal</td>
         -->
         <td>external</td>
        </tr>
        <tr>
         <td>internal</td>
         <!-- <td>POST <a href="#tag/offerings/paths/~1offerings~1{offeringId}~1associations~1external/post">/offerings/{offeringId}/associations/me</a> local enrollment based on selected offering
          This call will allow for a local student using his .wellknown credentials to enroll for the offering identified by the offeringId
          <br>Alternatively the association can also be created through POST <a href="#tag/associations/paths/~1associations~1me/post">/associations/me</a>
         </td>
         -->
         <td>POST <a href="#tag/associations/paths/~1associations~1external~1me/post">/associations/external/me</a> gets student details from .wellknown at home institution. It passes offering details (provided by external institution) to the home institution so the home institution can create a placeholder for the offering and its results.
         </td>
        </tr>
        <tr>
         <td>external</td>
          <!--
          <td>
          This method is not yet implemented it requires full student details and offering details. This would mean the
          OOAPI message would contain more than one resource in the message. At the moment the student mobility project is looking into
          a sollution.
          <br> Alternatively it could be achieved through using two calls:
          <ul>
           <li>create student with POST <a href="#tag/persons/paths/~1persons~1{personId}/post">/persons</a></li>
           <li><a href="#tag/offerings/paths/~1offerings~1{offeringId}~1associations~1external/post">/offerings/{offeringId}/associations/me</a></li>
          </ul>
          for the enrollment
         </td>
          -->
         <td>no support needed</td>
        </tr>
      </table>
      Direct update of current information: <a href="#tag/associations/paths/~1associations~1{associationId}/patch"> PATCH /associations/{associationId}</a>
      This call is currently limited to passing results and a remote state. For future use other association resource information could be passed.
      More information on the support for student mobility can be found
      <a href="https://swimlanes.io/d/s5mfpj7Si">here</a>
  - name: components
    description: The components API provides information about components being part of parent courses.
  - name: offerings
    description: The offerings API provides information about offerings which have a global timeframe, e.g. a period to which students can enroll.
  - name: persons
    description: The persons API provides information about persons related to an organization.
  - name: component_model
    x-displayName: Component
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Component" />
  - name: component_offering_model
    x-displayName: ComponentOffering
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ComponentOffering" />
  - name: association_model
    x-displayName: Association
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Association" />
  - name: person_model
    x-displayName: Person
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Person" />
x-tagGroups:
  - name: Requests and responses
    tags:
      - associations
      - components
      - offerings
      - persons
  - name: Models
    tags:
      - association_model
      - component_model
      - component_offering_model
      - person_model
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    openId:
      type: openIdConnect
      openIdConnectUrl: https://example.nl/.well-known/openid-configuration
    oAuthFlows:
      type: oauth2
      description: |
        This API uses oauth Cleint credentials for server to server #/components/schemas/EducationSpecification
      flows:
        clientCredentials:
          tokenUrl: https://example.nl/oauth2/authorize
          scopes:
            test-admin-flow: functions needed to allow the transfer of enrollments, persons and offerings between systems in MBO
  schemas:
    Consumer:
      type: object
      description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
      required: &ref_0
        - consumerKey
      properties: &ref_1
        consumerKey:
          description: The key of the consumer (destination) for which this information is intended. See the [consumer registry](https://open-education-api.github.io/specification/#/consumers) for more information.
          type: string
      additionalProperties: true
    Ext:
      type: object
      description: Object for additional non-standard attributes
    Service:
      type: object
      description: A metadataset providing details on the provider of this OOAPI implementation
      required: &ref_102
        - contactEmail
        - specification
        - documentation
      properties: &ref_103
        contactEmail:
          type: string
          description: Contact e-mail address of the service owner
          format: email
          maxLength: 256
          example: admin@universiteitvanharderwijk.nl
        specification:
          type: string
          description: URL of the API specification (YAML or JSON, compliant with [Open API Specification v3](https://github.com/OAI/OpenAPI-Specification/))
          format: uri
          maxLength: 2048
          example: https://rawgit.com/open-education-api/specification/v3/docs.html#tag/course-offerings/paths/~1course-offerings/get
        documentation:
          type: string
          description: URL of the API documentation, including general terms and privacy statement
          format: uri
          maxLength: 2048
          example: https://open-education-api.github.io/specification/v4/docs.html
        consumers:
          description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
          type: array
          items:
            type: object
            description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
            required: *ref_0
            properties: *ref_1
            additionalProperties: true
          example: &ref_14
            - consumerKey: x-test-consumer
              additional: custom
              attributes: here
        ext:
          type: object
          description: Object for additional non-standard attributes
    Problem:
      type: object
      description: A system message including the error code and an explanation
      required: &ref_100
        - status
        - title
      properties: &ref_101
        status:
          type: string
          description: The HTTP status code
          example: '404'
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Resource not found
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
    personAffiliations:
      type: array
      description: |
        The affiliations of this person, the relations a person has with the organization providing this endpoint
        - student: student
        - employee: medewerker
        - guest: gast
      items: &ref_8
        type: string
        enum:
          - student
          - employee
          - guest
        example: student
    Pagination:
      type: object
      required: &ref_116
        - pageSize
        - pageNumber
        - hasPreviousPage
        - hasNextPage
        - items
      properties: &ref_117
        pageSize:
          type: integer
          format: int32
          description: The number of items per page
          example: 10
        pageNumber:
          type: integer
          format: int32
          description: The current page number
          example: 1
          minimum: 1
        hasPreviousPage:
          type: boolean
          description: Whether there is a previous page
          example: false
        hasNextPage:
          type: boolean
          description: Whether there is a previous page
          example: true
        totalPages:
          type: integer
          format: int32
          description: Total number of pages
          example: 8
    PersonId:
      type: object
      properties: &ref_15
        personId:
          type: string
          description: Unique id of this person
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      required: &ref_16
        - personId
    codeType:
      type: string
      description: |
        The code/identifier type. 

        This is an *extensible enumeration*. Use `x-` to prefix custom values

        The predefined values are:
          - `brin`: The registration number for a Dutch educational institution that is issued by the Dutch Ministry of Education, Culture and Science
          - `crohoCreboCode`: programs with a CREBO and CROHO number are accredited by the Dutch Ministry of Education, Culture and Science (OCW)
          - `programCode`: Identifier for the program (collection of courses)
          - `componentCode`: The code for a component (part of a course)
          - `offeringCode`: The code to identify a specific offering (program, course or component offering)
          - `organizationId`: The identifier for the organization
          - `buildingId`: The number or code to identify a building
          - `bagId`: The identification of a building as it is known in the Dutch Building Administration (BAG)
          - `roomCode`: The code for a room
          - `systemId`: Identifier assigned to an entity in context of a specific system
          - `productId`: Identifier assigned to a specific product
          - `nationalIdentityNumber`: Identifier assigned by the governement of the person. e.g. a social security number in the USA
          - `studentNumber`: Identifier for the student
          - `studielinkNumber`: Identifier for the person as determined by Studielink
          - `esi`: European Student Identifier
          - `userName`: The name of a user
          - `accountId`: Identifier assigned to a specific account
          - `emailAdress`: An email address
          - `groupCode`: The identifier for a group (of persons)
          - `isbn`: International Standard Book Number that serve as product identifiers for Books
          - `issn`: International Standard Book Number that serve as product identifiers for periodicals
          - `orcId`: Open Researcher and Contributor ID
          - `uuid`: A universally unique identifier
          - `schacHome`: Home organization using the domain name of the organization
          - `identifier`: Generic Identifier
          - `eckid`: ID used in the education content chain
      x-ooapi-extensible-enum: &ref_2
        - brin
        - crohoCreboCode
        - programCode
        - componentCode
        - offeringCode
        - organizationId
        - buildingId
        - bagId
        - roomCode
        - systemId
        - productId
        - nationalIdentityNumber
        - studentNumber
        - studielinkNumber
        - esi
        - userName
        - accountId
        - emailAdress
        - groupCode
        - isbn
        - issn
        - orcId
        - uuid
        - schacHome
        - identifier
        - eckid
      example: identifier
    IdentifierEntry:
      type: object
      properties: &ref_6
        codeType:
          type: string
          description: |
            The code/identifier type. 

            This is an *extensible enumeration*. Use `x-` to prefix custom values

            The predefined values are:
              - `brin`: The registration number for a Dutch educational institution that is issued by the Dutch Ministry of Education, Culture and Science
              - `crohoCreboCode`: programs with a CREBO and CROHO number are accredited by the Dutch Ministry of Education, Culture and Science (OCW)
              - `programCode`: Identifier for the program (collection of courses)
              - `componentCode`: The code for a component (part of a course)
              - `offeringCode`: The code to identify a specific offering (program, course or component offering)
              - `organizationId`: The identifier for the organization
              - `buildingId`: The number or code to identify a building
              - `bagId`: The identification of a building as it is known in the Dutch Building Administration (BAG)
              - `roomCode`: The code for a room
              - `systemId`: Identifier assigned to an entity in context of a specific system
              - `productId`: Identifier assigned to a specific product
              - `nationalIdentityNumber`: Identifier assigned by the governement of the person. e.g. a social security number in the USA
              - `studentNumber`: Identifier for the student
              - `studielinkNumber`: Identifier for the person as determined by Studielink
              - `esi`: European Student Identifier
              - `userName`: The name of a user
              - `accountId`: Identifier assigned to a specific account
              - `emailAdress`: An email address
              - `groupCode`: The identifier for a group (of persons)
              - `isbn`: International Standard Book Number that serve as product identifiers for Books
              - `issn`: International Standard Book Number that serve as product identifiers for periodicals
              - `orcId`: Open Researcher and Contributor ID
              - `uuid`: A universally unique identifier
              - `schacHome`: Home organization using the domain name of the organization
              - `identifier`: Generic Identifier
              - `eckid`: ID used in the education content chain
          x-ooapi-extensible-enum: *ref_2
          example: identifier
        code:
          description: Human readable value for the code/identifier
          type: string
      required: &ref_7
        - codeType
        - code
      additionalProperties: false
      example: &ref_13
        codeType: identifier
        code: 1234qwe12
    gender:
      type: string
      description: The gender of this person
      enum: &ref_9
        - M
        - F
        - U
        - X
      example: F
    addressType:
      type: string
      description: |
        Address type
        - postal: post
        - visit: bezoek
        - deliveries: bezorg
        - billing: factuur
        - teaching: the address where education takes place
      enum: &ref_3
        - postal
        - visit
        - deliveries
        - billing
        - teaching
    LanguageTypedString:
      type: object
      description: A String with an associated language code.
      properties: &ref_4
        language:
          description: The language used in the described entity. A string formatted according to RFC3066.
          type: string
          pattern: ^[a-z]{2,4}(-[A-Z][a-z]{3})?(-([A-Z]{2}|[0-9]{3}))?$
        value:
          description: String to describe the entity.
          type: string
      example: &ref_5
        language: en-GB
        value: program that is a place holder for all courses that are made available for student mobility
    Address:
      type: object
      description: The full street address
      required: &ref_10
        - addressType
      properties: &ref_11
        addressType:
          type: string
          description: |
            Address type
            - postal: post
            - visit: bezoek
            - deliveries: bezorg
            - billing: factuur
            - teaching: the address where education takes place
          enum: *ref_3
        street:
          type: string
          description: The street name
          example: Moreelsepark
        streetNumber:
          type: string
          description: The street number
          example: '48'
        additional:
          type: array
          description: Further details like building name, suite, apartment number, etc.
          minItems: 1
          items:
            type: object
            description: A String with an associated language code.
            properties: *ref_4
            example: *ref_5
          example:
            - language: en-GB
              value: On the other side of the road
        postalCode:
          type: string
          description: Postal code
          example: 3511 EP
        city:
          type: string
          description: name of the city / locality
          example: Utrecht
        countryCode:
          type: string
          description: the country code according to [iso-3166-1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          example: NL
        geolocation:
          type: object
          description: Geolocation of the entrance of this address (WGS84 coordinate reference system)
          required:
            - latitude
            - longitude
          properties:
            latitude:
              type: number
              format: double
              example: 52.089123
            longitude:
              type: number
              format: double
              example: 5.113337
        ext:
          type: object
          description: Object for additional non-standard attributes
    ICERelationType:
      type: string
      description: Type of relation between person and In Case of Emergency contact
      enum: &ref_12
        - partner
        - parent
        - other
      example: partner
    PersonProperties:
      type: object
      description: A person that has a relationship with this institution
      required: &ref_17
        - givenName
        - surname
        - displayName
        - affiliations
        - mail
        - primaryCode
        - activeEnrollment
      properties: &ref_18
        primaryCode:
          description: The primary human readable identifier for the person. This is often the source identifier as defined by the institution.
          example:
            codeType: studentNumber
            code: 0
          readOnly: true
          type: object
          properties: *ref_6
          required: *ref_7
          additionalProperties: false
        givenName:
          type: string
          description: The first name of this person
          maxLength: 256
          example: Maartje
        surnamePrefix:
          type: string
          description: The prefix of the family name of this person
          example: van
        surname:
          type: string
          description: The family name of this person
          maxLength: 256
          example: Damme
        displayName:
          type: string
          description: The name of this person which will be displayed
          maxLength: 256
          example: Maartje van Damme
        initials:
          type: string
          description: The initials of this person
          example: MCW
        activeEnrollment:
          type: boolean
          description: Whether this person has an active enrollment.
          example: false
        dateOfBirth:
          type: string
          description: The date of birth of this person, RFC3339 (full-date)
          format: date
          example: '2003-09-30'
        cityOfBirth:
          type: string
          description: The city of birth of this person
          example: Utrecht
        countryOfBirth:
          type: string
          description: The country of birth of this person the country code according to [iso-3166-1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          example: NL
        nationality:
          type: string
          description: The nationality of this person the nationality according to https://gist.github.com/zspine/2365808
          example: Dutch
        dateOfNationality:
          type: string
          description: The date of nationality of this person, RFC3339 (full-date)
          format: date
          example: '2003-09-30'
        affiliations:
          type: array
          description: |
            The affiliations of this person, the relations a person has with the organization providing this endpoint
            - student: student
            - employee: medewerker
            - guest: gast
          items: *ref_8
        mail:
          type: string
          description: The primary e-mailaddress of this person
          format: email
          maxLength: 256
          example: vandamme.mcw@universiteitvanharderwijk.nl
        secondaryMail:
          type: string
          description: The secondary e-mailaddress of this person
          format: email
          maxLength: 256
          example: poekie@xyz.nl
        telephoneNumber:
          type: string
          description: The telephone number of this person
          maxLength: 256
          example: +31 123 456 789
        mobileNumber:
          type: string
          description: The mobile number of this person
          maxLength: 256
          example: +31 612 345 678
        photoSocial:
          type: string
          description: The url of the informal picture of this person
          format: uri
          maxLength: 2048
          example: https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Placeholder_female_superhero_c.png/203px-Placeholder_female_superhero_c.png
        photoOfficial:
          type: string
          description: The url of the official picture of this person
          format: uri
          maxLength: 2048
          example: https://upload.wikimedia.org/wikipedia/commons/6/66/Johannes_Vermeer_%281632-1675%29_-_The_Girl_With_The_Pearl_Earring_%281665%29.jpg
        gender:
          type: string
          description: The gender of this person
          enum: *ref_9
          example: F
        titlePrefix:
          type: string
          description: A title prefix to be used for this person
          example: drs
        titleSuffix:
          type: string
          description: A title suffix to be used for this person
          example: BSc
        office:
          type: string
          description: The name of the office where this person is located
        address:
          type: object
          description: The full street address
          required: *ref_10
          properties: *ref_11
        ICEName:
          type: string
          description: Full name of In Case of Emergency contact
          maxLength: 256
          example: Janne
        ICEPhoneNumber:
          type: string
          description: Phone number of In Case of Emergency contact
          maxLength: 256
          example: +31 623 456 789
        ICERelation:
          type: string
          description: Type of relation between person and In Case of Emergency contact
          enum: *ref_12
          example: partner
        languageOfChoice:
          type: array
          description: The language(s) of choice for this person, RFC3066
          items:
            type: string
            example: nl-NL
        otherCodes:
          type: array
          description: An array of additional human readable codes/identifiers for the entity being described.
          items:
            type: object
            properties: *ref_6
            required: *ref_7
            additionalProperties: false
            example: *ref_13
          example:
            - codeType: nationalIdentityNumber
              code: '00000'
        consumers:
          description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
          type: array
          items:
            type: object
            description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
            required: *ref_0
            properties: *ref_1
            additionalProperties: true
          example: *ref_14
        ext:
          type: object
          description: Object for additional non-standard attributes
    Person:
      allOf: &ref_63
        - type: object
          properties: *ref_15
          required: *ref_16
        - type: object
          description: A person that has a relationship with this institution
          required: *ref_17
          properties: *ref_18
    PostResponse:
      type: object
      description: A system message as a response to a POST message
      required: &ref_118
        - message
      properties: &ref_119
        message:
          description: information displayed to user
          type: array
          minItems: 1
          items:
            type: object
            description: A String with an associated language code.
            properties: *ref_4
            example: *ref_5
          example:
            - language: en-GB
              value: Your enrollment was partly succesful, you have been placed on the waitinglist
        redirect:
          description: URL where additional information can be found e.g. by use of deeplink
          type: string
          format: uri
    associationRole:
      type: string
      description: |
        The role of this person associated with the offering
          - student: student
          - lecturer: docent
          - teaching assistant: studentassistent
          - coordinator: coördinator
          - guest: gast
      enum: &ref_19
        - student
        - lecturer
        - teaching assistant
        - coordinator
        - guest
      example: student
    associationState:
      type: string
      description: The state of this association
      enum: &ref_20
        - pending
        - canceled
        - denied
        - associated
        - queued
      example: associated
    resultState:
      type: string
      description: The state of this result
      enum: &ref_26
        - in progress
        - postponed
        - completed
        - queued
      example: completed
    AssociationId:
      type: object
      properties: &ref_22
        associationId:
          type: string
          description: Unique id of this association
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          readOnly: true
      required: &ref_23
        - associationId
    remoteAssociationState:
      type: string
      description: The state of this association for the institution performing the request.
      enum: &ref_21
        - pending
        - canceled
        - denied
        - associated
        - queued
      example: associated
    AssociationProperties:
      type: object
      description: A relationship between a person object and an offering
      required: &ref_24
        - associationType
        - role
        - state
      properties: &ref_25
        associationType:
          type: string
          description: The type of this association
          enum:
            - programOfferingAssociation
            - courseOfferingAssociation
            - componentOfferingAssociation
          example: componentOfferingAssociation
          readOnly: true
        role:
          type: string
          description: |
            The role of this person associated with the offering
              - student: student
              - lecturer: docent
              - teaching assistant: studentassistent
              - coordinator: coördinator
              - guest: gast
          enum: *ref_19
          example: student
        state:
          readOnly: true
          type: string
          description: The state of this association
          enum: *ref_20
          example: associated
        remoteState:
          writeOnly: true
          type: string
          description: The state of this association for the institution performing the request.
          enum: *ref_21
          example: associated
        consumers:
          description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
          type: array
          items:
            type: object
            description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
            required: *ref_0
            properties: *ref_1
            additionalProperties: true
          example: *ref_14
        ext:
          type: object
          description: Object for additional non-standard attributes
    Association:
      allOf: &ref_32
        - type: object
          properties: *ref_22
          required: *ref_23
        - type: object
          description: A relationship between a person object and an offering
          required: *ref_24
          properties: *ref_25
    passState:
      type: string
      description: The state of this result
      enum: &ref_27
        - unknown
        - passed
        - failed
      example: passed
    Result:
      type: object
      description: A result as part of an association
      required: &ref_28
        - state
        - resultDate
      properties: &ref_29
        state:
          type: string
          description: The state of this result
          enum: *ref_26
          example: completed
        pass:
          type: string
          description: The state of this result
          enum: *ref_27
          example: passed
        comment:
          type: string
          description: The comment on this result
        score:
          type: string
          description: The score of this program/course/component association (based on resultValueType in offering)
          example: '9'
        resultDate:
          type: string
          description: The date this result has been published, RFC3339 (full-date)
          format: date
          example: '2020-09-28'
        ext:
          type: object
          description: Object for additional non-standard attributes
    StudyLoadDescriptor:
      type: object
      description: The amount of effort to complete this education in the specified unit.
      properties: &ref_30
        studyLoadUnit:
          description: "The unit in which the studyload is specfied\n- contacttime: CONTACTUUR\tamount of time spent in classes\n- ects: ECTS_PUNT\tEuropean Credit Transfer System\n- sbu: SBU\tstudentloadhours\n- sp: STUDIEPUNT studentpoints\n- hour: UUR\thours\n"
          type: string
          enum:
            - contacttime
            - ects
            - sbu
            - sp
            - hour
          example: ects
        value:
          description: The amount of load depicted in numbers
          type: number
          example: 3
      example: &ref_31
        studyLoadUnit: ects
        value: 3
    ProgramResult:
      allOf: &ref_33
        - type: object
          description: A result as part of an association
          required: *ref_28
          properties: *ref_29
        - type: object
          required:
            - studyLoad
          properties:
            studyLoad:
              type: object
              description: The amount of effort to complete this education in the specified unit.
              properties: *ref_30
              example: *ref_31
    ProgramOfferingAssociation:
      allOf: &ref_93
        - allOf: *ref_32
        - type: object
          properties:
            result:
              allOf: *ref_33
    OfferingId:
      type: object
      description: ID of Either a program, course or component offering which descrbes the program, course or offering in time
      required: &ref_39
        - offeringId
      properties: &ref_40
        offeringId:
          type: string
          description: Unique id of this offering
          format: uuid
          example: 123e4567-e89b-12d3-a456-134564174000
          readOnly: true
    academicSessionType:
      type: string
      description: |
        The type of this Academic Session This is an *extensible enumeration*.
        - academic year: academic year
        - semester: semester, typically there are two semesters per academic year
        - trimester: trimester, typically there are three semesters per academic year
        - quarter: quarter, typically there are four quarters per academic year
        - testing period: a period in which tests take place
        - period: any other period in an academic year

        Implementations are allowed to add additional values to those above, as long as they do not overlap in definition to existing values.
      example: semester
      x-ooapi-extensible-enum: &ref_34
        - academic year
        - semester
        - trimester
        - quarter
        - testing period
        - period
    Identifier:
      type: string
      description: An identifier of another resource.
      format: uuid
    AcademicSession:
      type: object
      description: |
        A named period of time that can be used to communicate the various schedules and time periods an institution recognizes and uses to organize their education. AcademicSessions can be nested.
        Offerings MAY be be linked to a specific AcademicSession to indicate that the specified Offering takes place during the AcademicSession, however this is not mandatory.
      required: &ref_35
        - academicSessionId
        - name
        - startDate
        - endDate
      properties: &ref_36
        academicSessionId:
          type: string
          description: Unique id for this academic session
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          readOnly: true
        academicSessionType:
          type: string
          description: |
            The type of this Academic Session This is an *extensible enumeration*.
            - academic year: academic year
            - semester: semester, typically there are two semesters per academic year
            - trimester: trimester, typically there are three semesters per academic year
            - quarter: quarter, typically there are four quarters per academic year
            - testing period: a period in which tests take place
            - period: any other period in an academic year

            Implementations are allowed to add additional values to those above, as long as they do not overlap in definition to existing values.
          example: semester
          x-ooapi-extensible-enum: *ref_34
        primaryCode:
          description: The primary human readable identifier for this academic session. This is often the source identifier as defined by the institution.
          example:
            codeType: identifier
            code: 2012-Q1
          type: object
          properties: *ref_6
          required: *ref_7
          additionalProperties: false
        name:
          type: array
          description: The name of this academic session
          minItems: 1
          items:
            type: object
            description: A String with an associated language code.
            properties: *ref_4
            example: *ref_5
          example:
            - language: en-GB
              value: Fall semester 2020
        startDate:
          type: string
          description: The day on which this academic session starts, RFC3339 (full-date)
          format: date
          example: '2020-08-17'
        endDate:
          type: string
          description: The day on which this academic session ends, RFC3339 (full-date)
          format: date
          example: '2020-12-18'
        parent:
          description: The parent Academicsession of this session (e.g. fall semester 20xx where the current session is a week 40). This object is [`expandable`](#tag/academic_sessions_model)
          oneOf:
            - title: academicSessionId
              type: string
              description: An identifier of another resource.
              format: uuid
            - title: Expanded AcademicSession
              type: object
              description: |
                A named period of time that can be used to communicate the various schedules and time periods an institution recognizes and uses to organize their education. AcademicSessions can be nested.
                Offerings MAY be be linked to a specific AcademicSession to indicate that the specified Offering takes place during the AcademicSession, however this is not mandatory.
              required: *ref_35
              properties: *ref_36
        children:
          type: array
          description: The list of Academicsession children of this Session (e.g. all academic sessions in fall semester 20xx). This object is [`expandable`](#tag/academic_sessions_model)
          items:
            oneOf:
              - title: academicSessionId
                type: string
                description: An identifier of another resource.
                format: uuid
              - title: Expanded AcademicSession
                type: object
                description: |
                  A named period of time that can be used to communicate the various schedules and time periods an institution recognizes and uses to organize their education. AcademicSessions can be nested.
                  Offerings MAY be be linked to a specific AcademicSession to indicate that the specified Offering takes place during the AcademicSession, however this is not mandatory.
                required: *ref_35
                properties: *ref_36
        year:
          description: The top level year of this session (e.g. 20xx where the current session is a week 40 of a semester). This object is [`expandable`](#tag/academic_sessions_model)
          oneOf:
            - title: academicSessionId
              type: string
              description: An identifier of another resource.
              format: uuid
            - title: Expanded AcademicSession
              type: object
              description: |
                A named period of time that can be used to communicate the various schedules and time periods an institution recognizes and uses to organize their education. AcademicSessions can be nested.
                Offerings MAY be be linked to a specific AcademicSession to indicate that the specified Offering takes place during the AcademicSession, however this is not mandatory.
              required: *ref_35
              properties: *ref_36
        otherCodes:
          type: array
          description: An array of additional human readable codes/identifiers for the entity being described.
          items:
            type: object
            properties: *ref_6
            required: *ref_7
            additionalProperties: false
            example: *ref_13
        consumers:
          description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
          type: array
          items:
            type: object
            description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
            required: *ref_0
            properties: *ref_1
            additionalProperties: true
          example: *ref_14
        ext:
          type: object
          description: Object for additional non-standard attributes
    modesOfDelivery:
      type: array
      description: |
        The mode of delivery of the component (ECTS-mode of delivery)
        - distance-learning: afstandsleren
        - on campus: op de campus
        - online: online
        - hybrid: hybride
        - situated: op locatie
      items: &ref_37
        type: string
        enum:
          - distance-learning
          - on campus
          - online
          - hybrid
          - situated
        example: situated
    resultValueType:
      type: string
      description: The result value type for this offering
      enum: &ref_38
        - pass-or-fail
        - US letter
        - UK letter
        - 0-100
        - 1-10
      example: 1-10
    OfferingProperties:
      type: object
      description: Either a program, course or component offering which descrbes the program, course or offering in time
      required: &ref_41
        - primaryCode
        - offeringType
        - name
        - description
        - teachingLanguage
        - resultExpected
      properties: &ref_42
        primaryCode:
          description: The primary human readable identifier for this offering. This is often the source identifier as defined by the institution.
          example:
            codeType: offeringCode
            code: INFOMQNM-20FS
          readOnly: true
          type: object
          properties: *ref_6
          required: *ref_7
          additionalProperties: false
        offeringType:
          type: string
          description: The type of this offering
          enum:
            - program
            - course
            - component
          example: component
        academicSession:
          type: object
          description: |
            A named period of time that can be used to communicate the various schedules and time periods an institution recognizes and uses to organize their education. AcademicSessions can be nested.
            Offerings MAY be be linked to a specific AcademicSession to indicate that the specified Offering takes place during the AcademicSession, however this is not mandatory.
          required: *ref_35
          properties: *ref_36
        name:
          type: array
          description: The name of this offering
          minItems: 1
          items:
            type: object
            description: A String with an associated language code.
            properties: *ref_4
            example: *ref_5
          example:
            - language: en-GB
              value: Final written test for INFOMQNM for fall semseter 2020
        abbreviation:
          type: string
          description: The abbreviation or internal code used to identify this offering
          maxLength: 256
          example: Test-INFOMQNM-20FS
        description:
          type: array
          description: The description of this offering.
          minItems: 1
          items:
            type: object
            description: A String with an associated language code.
            properties: *ref_4
            example: *ref_5
          example:
            - language: en-GB
              value: |
                'Prove in writing knowledge of research methods, including:
                Acquire knowledge of HCI research paradigms
                Able to design suitable research studies (e.g., choose between within and between subject designs)
                Define/apply/design metrics and scales
                Define/produce materials (e.g., stimuli and questionnaires)
                Define protocols for research studies
                Understands and take in account concepts of reliability and validity
                Analyze and improve methods and analysis of published scientific articles
                Able to deliver scientific reports
                Prove in writing knowledge of ­­­statistics, including:
                Handle hypothesis testing with complex designs (e.g., including , dependent, independent, and co variates)
                Data preparation (e.g., coding and feature selection)
                Reason towards adequate techniques to ensure valid outcomes (e.g., be aware of type I, type II errors)
                Select an appropriate sampling method (e.g., stratified)
                Perform parametric tests (e.g., repeated measures (M)ANOVA)
                Perform non-parametric tests (e.g., Chi-square, Mann-Whitney, and Kruskal-Wallis)'
        teachingLanguage:
          type: string
          description: The (primary) teaching language in which this offering is given, should be a three-letter language code as specified by ISO 639-2.
          minLength: 3
          maxLength: 3
          pattern: ^[a-z]{3}$
          example: nld
        modeOfDelivery:
          type: array
          description: |
            The mode of delivery of the component (ECTS-mode of delivery)
            - distance-learning: afstandsleren
            - on campus: op de campus
            - online: online
            - hybrid: hybride
            - situated: op locatie
          items: *ref_37
        maxNumberStudents:
          type: number
          description: The maximum number of students allowed to enroll for this offering
          format: int32
          minimum: 0
          example: 200
        enrolledNumberStudents:
          type: number
          description: The number of students that have already enrolled for this offering
          format: int32
          minimum: 0
          example: 150
        pendingNumberStudents:
          type: number
          description: The number of students that have a pending enrollment request for this offering
          format: int32
          minimum: 0
          example: 50
        minNumberStudents:
          type: number
          description: The minimum number of students needed for this offering to proceed
          format: int32
          minimum: 0
          example: 15
        resultExpected:
          type: boolean
          description: |
            resultExpected, previously knwon as isLineItem is used so the specific instance of the object is identified as being an element that CAN contain “grade” information.
            Offerings do not always have to result in a grade or an other type of result. 
            If there is a result expected from a programOffering/courseOffering/componentOffering the is resultExpected field should parse true
          example: true
        resultValueType:
          type: string
          description: The result value type for this offering
          enum: *ref_38
          example: 1-10
        link:
          type: string
          description: URL of this offering's webpage.
          format: uri
          maxLength: 2048
          example: https://osiris.uu.nl/osiris_student_uuprd/OnderwijsCatalogusZoekCursus.do#submitForm?cursuscode=INFOMQNM
        otherCodes:
          type: array
          description: An array of additional human readable codes/identifiers for the entity being described.
          items:
            type: object
            properties: *ref_6
            required: *ref_7
            additionalProperties: false
            example: *ref_13
        consumers:
          description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
          type: array
          items:
            type: object
            description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
            required: *ref_0
            properties: *ref_1
            additionalProperties: true
          example:
            - consumerKey: rio
              explanationRequiredPermission: Toestemming is vereist omdat we daarom vragen.
              requiredPermissionRegistration: 'yes'
              registrationStatus: open
        ext:
          type: object
          description: Object for additional non-standard attributes
    Offering:
      allOf: &ref_66
        - type: object
          description: ID of Either a program, course or component offering which descrbes the program, course or offering in time
          required: *ref_39
          properties: *ref_40
        - type: object
          description: Either a program, course or component offering which descrbes the program, course or offering in time
          required: *ref_41
          properties: *ref_42
    costType:
      type: string
      description: |
        The type of the cost. This is an *extensible enumeration*.

        The following values have been defined in the specification:
          - `STAP eligible`: the costs that a student can get STAP subsidy for
          - `total costs`: the total costs that a student is to pay to follow this offering

        Implementations are allowed to add additional values to those above, as long as they do not overlap in definition to existing values.
      example: total costs
      x-ooapi-extensible-enum: &ref_43
        - STAP eligible
        - total costs
    Cost:
      type: object
      required: &ref_67
        - costType
      properties: &ref_68
        costType:
          type: string
          description: |
            The type of the cost. This is an *extensible enumeration*.

            The following values have been defined in the specification:
              - `STAP eligible`: the costs that a student can get STAP subsidy for
              - `total costs`: the total costs that a student is to pay to follow this offering

            Implementations are allowed to add additional values to those above, as long as they do not overlap in definition to existing values.
          example: total costs
          x-ooapi-extensible-enum: *ref_43
        amount:
          type: string
          pattern: ^\d+(?:\.\d+)?$
          description: The total amount of the cost as a string. Use a '.' (dot) as an optional separator. The numbers before the separator signify the major units of the currency, after the dot the minor units. Only a single separator is allowed. Do not use a comma.
          example: '340.84'
        vatAmount:
          type: string
          pattern: ^\d+(?:\.\d+)?$
          description: The part of the cost that is VAT, as a string. Use a '.' (dot) as an optional separator. The numbers before the separator signify the major units of the currency, after the dot the minor units. Only a single separator is allowed. Do not use a comma.
          example: '40'
        amountWithoutVat:
          type: string
          pattern: ^\d+(?:\.\d+)?$
          description: The part of the cost that is non-VAT. as a string. Use a '.' (dot) as an optional separator. The numbers before the separator signify the major units of the currency, after the dot the minor units. Only a single separator is allowed. Do not use a comma.
          example: '300.84'
        currency:
          type: string
          description: The currency this cost is in. Should correspond to one of the currency codes from ISO 4217.
          example: EUR
        displayAmount:
          type: array
          items:
            type: object
            description: A String with an associated language code.
            properties: *ref_4
            example: *ref_5
          description: An array of optional pre-formatted strings in different locales. Clients can choose to use this string instead of rendering their own based on the current locale of the user.
          example:
            - language: nl-NL
              value: €380,84
            - language: en-US
              value: $401.17
        ext:
          type: object
          description: Object for additional non-standard attributes
      additionalProperties: false
    ProgramId:
      type: object
      description: A collection of courses that lead to a certifiable learning outcome
      required: &ref_57
        - programId
      properties: &ref_58
        programId:
          type: string
          description: Unique id for this program
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          readOnly: true
    programType:
      type: string
      description: |
        The type of this program
        - program: opleiding
        - minor: minor
        - honours: honours
        - specialization: specialisatie
        - track: track
      enum: &ref_59
        - program
        - minor
        - honours
        - specialization
        - track
      example: program
    qualificationAwarded:
      type: string
      description: Type of qualificaton that can be obtained on finishing the program
      enum: &ref_60
        - AD
        - BA
        - BSc
        - LLB
        - MA
        - MSc
        - LLM
        - Phd
        - None
      example: None
    modeOfStudy:
      type: string
      description: |
        Indicates whether the education is full-time, part-time, dual or self-paced.
          - full-time: fulltime
          - part-time: parttime
          - dual training: duaal
          - self-paced: eigen tempo
      enum: &ref_61
        - full-time
        - part-time
        - dual training
        - self-paced
    levelOfQualification:
      type: string
      description: Level of qualification according to the Dutch National Qualification Framework and the European Qualifications Framework, see [this overview](https://nlqf.nl/images/downloads/English2018/Schematic_overview_NLQF_2020.pdf) for more information.
      enum: &ref_50
        - '1'
        - '2'
        - '3'
        - '4'
        - 4+
        - '5'
        - '6'
        - '7'
        - '8'
      example: '6'
    level:
      type: string
      description: |
        The level of this course (ECTS-year of study if applicable)
        - secondary vocational education: mbo
        - secondary vocational education 1: mbo 1, corresponds to levelOfQualification 1
        - secondary vocational education 2: mbo 2, corresponds to levelOfQualification 2
        - secondary vocational education 3: mbo 3, corresponds to levelOfQualification 3
        - secondary vocational education 4: mbo 4, corresponds to levelOfQualification 4
        - associate degree: associate degree, corresponds to levelOfQualification 5
        - bachelor: bachelor, corresponds to levelOfQualification 6
        - master: master, corresponds to levelOfQualification 7
        - doctoral: doctoraal, corresponds to levelOfQualification 8
        - undefined: onbepaald
        - undivided: ongedeeld
        - nt2-1: NT2 niveau 1
        - nt2-2: NT2 niveau 2
      enum: &ref_48
        - secondary vocational education
        - secondary vocational education 1
        - secondary vocational education 2
        - secondary vocational education 3
        - secondary vocational education 4
        - associate degree
        - bachelor
        - master
        - doctoral
        - undefined
        - undivided
        - nt2-1
        - nt2-2
      example: master
    sector:
      type: string
      description: |
        The sector for this program
        - secondary vocational education: middelbaar beroepsonderwijs
        - higher professional education: hoger beroepsonderwijs
        - university education: universitair onderwijs
      enum: &ref_49
        - secondary vocational education
        - higher professional education
        - university education
      example: university education
    EducationSpecificationId:
      type: object
      properties: &ref_44
        educationSpecificationId:
          type: string
          description: Unique id for this education specification
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      required: &ref_45
        - educationSpecificationId
    educationSpecificationType:
      type: string
      description: |
        The type of education specification
          - program: HOOPLEIDING
          - privateProgram: PARTICULIEREOPLEIDING
          - programCluster: HOONDERWIJSEENHEDENCLUSTER
          - course: HOONDERWIJSEENHEID
      enum: &ref_46
        - program
        - privateProgram
        - cluster
        - course
      example: program
    formalDocument:
      type: string
      description: |
        The type of formal document obtained after completion of this education
          - diploma: DIPLOMA
          - certificate: CERTIFICAAT
          - no official document: GEEN OFFICIEEL DOCUMENT
          - testimonial: GETUIGSCHRIFT
          - school advice: SCHOOLADVIES
      enum: &ref_47
        - diploma
        - certificate
        - no official document
        - testimonial
        - school advice
      example: diploma
    EducationSpecification:
      allOf: &ref_51
        - type: object
          properties: *ref_44
          required: *ref_45
        - type: object
          description: |
            The specification of an education object. This specification allows for other education objects to be derived from it.
            It is used to aggregate education objects from a supplying institution.
            It clusters programs to a main educationSpecification that is used in registries such as RIO. 
          required: &ref_55
            - primaryCode
            - educationSpecificationType
            - name
          properties: &ref_56
            primaryCode:
              description: |
                The primary human readable identifier for the entity. 
                This will often take the form of a human readable code as defined by the institution or region
              type: object
              properties: *ref_6
              required: *ref_7
              additionalProperties: false
              example: *ref_13
            otherCodes:
              type: array
              description: An array of additional human readable codes/identifiers for the entity being described.
              items:
                type: object
                properties: *ref_6
                required: *ref_7
                additionalProperties: false
                example: *ref_13
              example:
                - codeType: crohoCreboCode
                  code: '1234123'
            educationSpecificationType:
              type: string
              description: |
                The type of education specification
                  - program: HOOPLEIDING
                  - privateProgram: PARTICULIEREOPLEIDING
                  - programCluster: HOONDERWIJSEENHEDENCLUSTER
                  - course: HOONDERWIJSEENHEID
              enum: *ref_46
              example: program
            name:
              type: array
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
              description: The name of this education specification
              example:
                - language: en-GB
                  value: Bachelor Chemical technology
            abbreviation:
              type: string
              description: The abbreviation of this program
              maxLength: 256
              example: B Scheikundige Technologie
            description:
              type: array
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
              description: The description of this program. [The limited implementation of Git Hub Markdown syntax](#tag/formatting-and-displaying-results-from-API) MAY be used for rich text representation.
              example:
                - language: en-GB
                  value: program that is a place holder for all courses that are made available for student mobility
            formalDocument:
              type: string
              description: |
                The type of formal document obtained after completion of this education
                  - diploma: DIPLOMA
                  - certificate: CERTIFICAAT
                  - no official document: GEEN OFFICIEEL DOCUMENT
                  - testimonial: GETUIGSCHRIFT
                  - school advice: SCHOOLADVIES
              enum: *ref_47
              example: diploma
            level:
              type: string
              description: |
                The level of this course (ECTS-year of study if applicable)
                - secondary vocational education: mbo
                - secondary vocational education 1: mbo 1, corresponds to levelOfQualification 1
                - secondary vocational education 2: mbo 2, corresponds to levelOfQualification 2
                - secondary vocational education 3: mbo 3, corresponds to levelOfQualification 3
                - secondary vocational education 4: mbo 4, corresponds to levelOfQualification 4
                - associate degree: associate degree, corresponds to levelOfQualification 5
                - bachelor: bachelor, corresponds to levelOfQualification 6
                - master: master, corresponds to levelOfQualification 7
                - doctoral: doctoraal, corresponds to levelOfQualification 8
                - undefined: onbepaald
                - undivided: ongedeeld
                - nt2-1: NT2 niveau 1
                - nt2-2: NT2 niveau 2
              enum: *ref_48
              example: master
            sector:
              type: string
              description: |
                The sector for this program
                - secondary vocational education: middelbaar beroepsonderwijs
                - higher professional education: hoger beroepsonderwijs
                - university education: universitair onderwijs
              enum: *ref_49
              example: university education
            levelOfQualification:
              type: string
              description: Level of qualification according to the Dutch National Qualification Framework and the European Qualifications Framework, see [this overview](https://nlqf.nl/images/downloads/English2018/Schematic_overview_NLQF_2020.pdf) for more information.
              enum: *ref_50
              example: '6'
            fieldsOfStudy:
              type: string
              description: Field(s) of study (e.g. ISCED-F) (http://uis.unesco.org/sites/default/files/documents/isced-fields-of-education-and-training-2013-en.pdf.
              maxLength: 4
              example: '0732'
            studyLoad:
              type: object
              description: The amount of effort to complete this education in the specified unit.
              properties: *ref_30
              example: *ref_31
            learningOutcomes:
              type: array
              description: Statements that describe the knowledge or skills students should acquire by the end of a particular course or program (ECTS-learningoutcome).
              items:
                type: array
                minItems: 1
                items:
                  type: object
                  description: A String with an associated language code.
                  properties: *ref_4
                  example: *ref_5
                example:
                  - language: en-GB
                    value: 'Executable knowledge of Chemical technology, including: Acquire knowledge of research paradigms.'
            link:
              type: string
              description: URL of the program's website
              format: uri
              maxLength: 2048
              example: https://bijvak.nl
            parent:
              description: The educationSpecification that is the parent of this educationSpecification if it exists. [`expandable`](#tag/education_specification_model)
              oneOf:
                - title: educationSpecificationId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: EducationSpecification
                  allOf: *ref_51
            children:
              type: array
              description: The EducationSpecifications that have this EducationSpecification as their parent. [`expandable`](#tag/education_specification_model)
              items:
                oneOf:
                  - title: educationSpecificationId
                    type: string
                    description: An identifier of another resource.
                    format: uuid
                  - title: EducationSpecification
                    allOf: *ref_51
            organization:
              description: |
                The organization that manages this group. [`expandable`](#tag/organization_model)
                By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
              oneOf:
                - title: organizationId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: Organization object
                  type: object
                  description: A description of a group of people working together to achieve a goal
                  required: &ref_52
                    - organizationId
                    - organizationType
                    - name
                    - shortName
                    - primaryCode
                  properties: &ref_53
                    organizationId:
                      type: string
                      description: Unique id of this organization
                      format: uuid
                      example: 123e4567-e89b-12d3-a456-123514174000
                      readOnly: true
                    primaryCode:
                      description: The primary human readable identifier for the organization. This is often the source identifier as defined by the institution.
                      example:
                        codeType: orgId
                        code: Org01-Root
                      readOnly: true
                      type: object
                      properties: *ref_6
                      required: *ref_7
                      additionalProperties: false
                    organizationType:
                      type: string
                      description: |
                        The type of this organization. Each OOAPI endpoint should have a single organization with type `root`, describing the root organization.
                        - root: the root of this organization, representing the Educational Institution itself
                        - institute: instituut
                        - department: departement
                        - faculty: faculteit
                        - branch: vestiging
                        - academy: academie
                        - school: school
                      enum: &ref_54
                        - root
                        - institute
                        - department
                        - faculty
                        - branch
                        - academy
                        - school
                      example: root
                    name:
                      type: array
                      description: The name of the organization
                      minItems: 1
                      items:
                        type: object
                        description: A String with an associated language code.
                        properties: *ref_4
                        example: *ref_5
                      example:
                        - language: nl-NL
                          value: Coöperatie SURF U.A.
                    shortName:
                      type: string
                      description: Short name of the organization
                      maxLength: 256
                      example: SURF
                    description:
                      type: array
                      description: Any general description of the organization should clearly mention the type of higher education organization, especially in the case of a binary system. In Dutch; universiteit (university) or hogeschool (university of applied sciences).
                      minItems: 1
                      items:
                        type: object
                        description: A String with an associated language code.
                        properties: *ref_4
                        example: *ref_5
                      example:
                        - language: nl-NL
                          value: SURF is een coöperatieve vereniging van Nederlandse onderwijs- en onderzoeksinstellingen waarin de leden hun krachten bundelen. De leden zijn eigenaar van SURF.
                    addresses:
                      type: array
                      description: Addresses of this organization
                      items:
                        type: object
                        description: The full street address
                        required: *ref_10
                        properties: *ref_11
                    link:
                      type: string
                      description: URL of the organization's website
                      format: uri
                      maxLength: 2048
                      example: https://surf.nl
                    logo:
                      type: string
                      description: Logo of this organization
                      format: uri
                      maxLength: 2048
                      example: https://www.surf.nl/themes/surf/logo.svg
                    otherCodes:
                      type: array
                      description: An array of additional human readable codes/identifiers for the entity being described.
                      minItems: 1
                      items:
                        type: object
                        properties: *ref_6
                        required: *ref_7
                        additionalProperties: false
                        example: *ref_13
                      example:
                        - codeType: brin
                          code: 00AA
                        - codeType: kvk
                          code: '12345678'
                    parent:
                      description: |
                        The organizational unit which is the parent of this organization. [`expandable`](#tag/organization_model)
                        By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
                      oneOf:
                        - title: organizationId
                          type: string
                          description: An identifier of another resource.
                          format: uuid
                        - title: Organization object
                          type: object
                          description: A description of a group of people working together to achieve a goal
                          required: *ref_52
                          properties: *ref_53
                    children:
                      type: array
                      description: |
                        All the organizational units for which this organization is the parent. [`expandable`](#tag/organization_model)
                        By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
                      items:
                        oneOf:
                          - title: organizationId
                            type: string
                            description: An identifier of another resource.
                            format: uuid
                          - title: Organization object
                            type: object
                            description: A description of a group of people working together to achieve a goal
                            required: *ref_52
                            properties: *ref_53
                    consumers:
                      description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
                      type: array
                      items:
                        type: object
                        description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                        required: *ref_0
                        properties: *ref_1
                        additionalProperties: true
                      example: *ref_14
                    ext:
                      type: object
                      description: Object for additional non-standard attributes
            consumers:
              description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
              type: array
              items:
                type: object
                description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                required: *ref_0
                properties: *ref_1
                additionalProperties: true
              example:
                - consumerKey: rio
                  educationSpecificationSubType: variant
                  category:
                    - business_and_project_support
                    - economy
            ext:
              type: object
              description: Object for additional non-standard attributes
        - properties:
            validFrom:
              description: The first day this EducationSpecification is valid (inclusive).
              type: string
              format: date
            validTo:
              description: The day this EducationSpecification ceases to be valid (e.g. exclusive).
              type: string
              format: date
    organizationType:
      type: string
      description: |
        The type of this organization. Each OOAPI endpoint should have a single organization with type `root`, describing the root organization.
        - root: the root of this organization, representing the Educational Institution itself
        - institute: instituut
        - department: departement
        - faculty: faculteit
        - branch: vestiging
        - academy: academie
        - school: school
      enum: *ref_54
      example: root
    Organization:
      type: object
      description: A description of a group of people working together to achieve a goal
      required: *ref_52
      properties: *ref_53
    EducationSpecificationProperties:
      type: object
      description: |
        The specification of an education object. This specification allows for other education objects to be derived from it.
        It is used to aggregate education objects from a supplying institution.
        It clusters programs to a main educationSpecification that is used in registries such as RIO. 
      required: *ref_55
      properties: *ref_56
    Program:
      allOf: &ref_62
        - type: object
          description: A collection of courses that lead to a certifiable learning outcome
          required: *ref_57
          properties: *ref_58
        - type: object
          description: A collection of courses that lead to a certifiable learning outcome
          required: &ref_64
            - programType
            - name
            - abbreviation
            - description
            - primaryCode
            - teachingLanguage
          properties: &ref_65
            primaryCode:
              description: The primary human readable identifier for the program. This is often the source identifier as defined by the institution.
              example:
                codeType: programCode
                code: BIO
              readOnly: true
              type: object
              properties: *ref_6
              required: *ref_7
              additionalProperties: false
            programType:
              type: string
              description: |
                The type of this program
                - program: opleiding
                - minor: minor
                - honours: honours
                - specialization: specialisatie
                - track: track
              enum: *ref_59
              example: program
            name:
              description: The name of this program
              type: array
              minItems: 1
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
              example:
                - language: en-GB
                  value: Biology
            abbreviation:
              type: string
              description: The abbreviation of this program
              maxLength: 256
              example: BIO
            description:
              type: array
              description: The description of this program
              minItems: 1
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
              example:
                - language: en-GB
                  value: The study of life
            teachingLanguage:
              type: string
              description: The (primary) teaching language in which this program is given, should be a three-letter language code as specified by ISO 639-2.
              minLength: 3
              maxLength: 3
              pattern: ^[a-z]{3}$
              example: nld
            studyLoad:
              type: object
              description: The amount of effort to complete this education in the specified unit.
              properties: *ref_30
              example: *ref_31
            qualificationAwarded:
              type: string
              description: Type of qualificaton that can be obtained on finishing the program
              enum: *ref_60
              example: None
            modeOfStudy:
              type: string
              description: |
                Indicates whether the education is full-time, part-time, dual or self-paced.
                  - full-time: fulltime
                  - part-time: parttime
                  - dual training: duaal
                  - self-paced: eigen tempo
              enum: *ref_61
            modeOfDelivery:
              type: array
              description: |
                The mode of delivery of the component (ECTS-mode of delivery)
                - distance-learning: afstandsleren
                - on campus: op de campus
                - online: online
                - hybrid: hybride
                - situated: op locatie
              items: *ref_37
            duration:
              type: string
              description: The duration of this program. The duration format is from the ISO 8601 ABNF as given in Appendix A of RFC 3339.
              pattern: ^(-?)P(?=\d|T\d)(?:(\d+)Y)?(?:(\d+)M)?(?:(\d+)([DW]))?(?:T(?:(\d+)H)?(?:(\d+)M)?(?:(\d+(?:\.\d+)?)S)?)?$
              example: P1DT30H4S
            firstStartDate:
              type: string
              description: The date when participants can follow this program for the first time.
              format: date
            levelOfQualification:
              type: string
              description: Level of qualification according to the Dutch National Qualification Framework and the European Qualifications Framework, see [this overview](https://nlqf.nl/images/downloads/English2018/Schematic_overview_NLQF_2020.pdf) for more information.
              enum: *ref_50
              example: '6'
            level:
              type: string
              description: |
                The level of this course (ECTS-year of study if applicable)
                - secondary vocational education: mbo
                - secondary vocational education 1: mbo 1, corresponds to levelOfQualification 1
                - secondary vocational education 2: mbo 2, corresponds to levelOfQualification 2
                - secondary vocational education 3: mbo 3, corresponds to levelOfQualification 3
                - secondary vocational education 4: mbo 4, corresponds to levelOfQualification 4
                - associate degree: associate degree, corresponds to levelOfQualification 5
                - bachelor: bachelor, corresponds to levelOfQualification 6
                - master: master, corresponds to levelOfQualification 7
                - doctoral: doctoraal, corresponds to levelOfQualification 8
                - undefined: onbepaald
                - undivided: ongedeeld
                - nt2-1: NT2 niveau 1
                - nt2-2: NT2 niveau 2
              enum: *ref_48
              example: master
            sector:
              type: string
              description: |
                The sector for this program
                - secondary vocational education: middelbaar beroepsonderwijs
                - higher professional education: hoger beroepsonderwijs
                - university education: universitair onderwijs
              enum: *ref_49
              example: university education
            fieldsOfStudy:
              type: string
              description: Field(s) of study (e.g. ISCED-F) (http://uis.unesco.org/sites/default/files/documents/isced-fields-of-education-and-training-2013-en.pdf.
              maxLength: 4
              example: '0732'
            enrollment:
              type: array
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
              description: The extra information that is provided for enrollment
              example:
                - language: en-GB
                  value: enrollment through SIS. [The limited implementation of Git Hub Markdown syntax](#tag/formatting-and-displaying-results-from-API) MAY be used for rich text representation.
            resources:
              type: array
              description: An overview of the literature and other resources that is used in this course (ECTS-recommended reading and other sources)
              items:
                type: string
              example:
                - book to be announced
                - on-line resource x
            learningOutcomes:
              type: array
              description: List of learning outcomes at program level. It is advisable to limit the number of learning outcomes to approximately 20. It is also advisable to make sure that the program learning outcomes in the course catalogue correspond with those on the Diploma Supplement.
              items:
                type: array
                minItems: 1
                items:
                  type: object
                  description: A String with an associated language code.
                  properties: *ref_4
                  example: *ref_5
                example:
                  - language: en-GB
                    value: 'Executable knowledge of research methods, including: Acquire knowledge of HCI research paradigms.'
            assessment:
              type: array
              description: A description of the way exams for this course are taken (ECTS-assessment method and criteria).
              minItems: 1
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
              example:
                - language: en-GB
                  value: Exam on campus
            admissionRequirements:
              type: array
              description: This information may be given at an institutional level and/or at the level of individual programmes. Make sure that it is clear whether the information applies to fee-paying students (national and/or international) or to exchange students.
              example:
                - language: en-GB
                  value: Students need to be enrolled at qualifying institutions of higher education that participate in this alliance
              minItems: 1
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
            qualificationRequirements:
              type: array
              description: Normally, students will receive a diploma when they have completed the (official) study program and have obtained the required number of credits. If there are any other specific requirements that students need to have fulfilled, mention them here.
              minItems: 1
              items:
                type: object
                description: A String with an associated language code.
                properties: *ref_4
                example: *ref_5
            link:
              type: string
              description: URL of the program's website
              format: uri
              maxLength: 2048
              example: https://bijvak.nl
            educationSpecification:
              description: The educationSpecification of which this program is a more concrete implementation. [`expandable`](#tag/education_specification_model)
              oneOf:
                - title: educationSpecificationId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: EducationSpecification
                  allOf: *ref_51
            otherCodes:
              type: array
              description: An array of additional human readable codes/identifiers for the entity being described.
              items:
                type: object
                properties: *ref_6
                required: *ref_7
                additionalProperties: false
                example: *ref_13
              example:
                - codeType: crohoCreboCode
                  code: '59312'
            addresses:
              type: array
              description: Addresses for this program
              items:
                type: object
                description: The full street address
                required: *ref_10
                properties: *ref_11
            parent:
              description: Parent program of which the current program is a child. This object is [`expandable`](#tag/program_model)
              oneOf:
                - title: programId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: Expanded Program
                  allOf: *ref_62
            children:
              type: array
              description: Programs which are a part of this program (e.g specializations). This object is [`expandable`](#tag/program_model)
              items:
                oneOf:
                  - title: programId
                    type: string
                    description: An identifier of another resource.
                    format: uuid
                  - title: Expanded Program
                    allOf: *ref_62
            coordinators:
              description: The person(s) responsible for this program. This object is [`expandable`](#tag/person_model)
              type: array
              items:
                oneOf:
                  - title: personId
                    type: string
                    description: An identifier of another resource.
                    format: uuid
                  - title: Person object
                    allOf: *ref_63
            organization:
              description: |
                The organization providing this program. [`expandable`](#tag/organization_model)
                By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
              oneOf:
                - title: organizationId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: Organization object
                  type: object
                  description: A description of a group of people working together to achieve a goal
                  required: *ref_52
                  properties: *ref_53
            consumers:
              description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
              type: array
              items:
                type: object
                description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                required: *ref_0
                properties: *ref_1
                additionalProperties: true
              example:
                - consumerKey: rio
                  educationOffererCode: 122A112
                  educationLocationCode: 123X122
                  consentParticipationSTAP: permission_granted
                  jointPartnerCodes:
                    - 122A113
                  foreignPartners:
                    - Harvard University
                  deficiency: deficiencies
                  requirementsActivities: requirements
                  propaedeuticPhase: no_propaedeutic_phase
                  studyChoiceCheck: no_study_choice_check
                  acceleratedRoute: accelerated_route
            ext:
              type: object
              description: Object for additional non-standard attributes
        - properties:
            validFrom:
              description: The first day this program is valid (inclusive).
              type: string
              format: date
            validTo:
              description: The day this program ceases to be valid (e.g. exclusive).
              type: string
              format: date
    ProgramProperties:
      type: object
      description: A collection of courses that lead to a certifiable learning outcome
      required: *ref_64
      properties: *ref_65
    ProgramOffering:
      allOf: &ref_75
        - allOf: *ref_66
        - type: object
          required:
            - modeOfStudy
            - startDate
            - endDate
          properties:
            startDate:
              type: string
              description: The moment on which this offering starts, RFC3339 (full-date)
              format: date
              example: '2019-08-21'
            endDate:
              type: string
              description: The moment on which this offering ends, RFC3339 (full-date)
              format: date
              example: '2023-06-15'
            enrollStartDate:
              type: string
              description: The first day on which a student can enroll for this program.
              format: date
              example: '2019-05-01'
            enrollEndDate:
              type: string
              description: The last day on which a student can enroll for this program.
              format: date
              example: '2019-08-01'
            flexibleEntryPeriodStart:
              type: string
              description: If this is a program wherein participants can start at various moments, without missing anything, use this attribute in combination with `flexibleEntryPeriodEnd`.
              format: date
            flexibleEntryPeriodEnd:
              type: string
              description: If this is a program wherein participants can start at various moments, without missing anything, use this attribute in combination with `flexibleEntryPeriodStart`.
              format: date
            addresses:
              type: array
              description: Addresses for this offering
              items:
                type: object
                description: The full street address
                required: *ref_10
                properties: *ref_11
            priceInformation:
              type: array
              description: Price information for this offering.
              items:
                type: object
                required: *ref_67
                properties: *ref_68
                additionalProperties: false
              minItems: 1
            program:
              description: |
                The Program that is offered in this programoffering. [`expandable`](#tag/program_model)
                By default only the `programId` (a string) is returned. If the client requested an expansion of `program` the full program object should be returned.
              oneOf:
                - title: programId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: Program object
                  allOf: *ref_62
            organization:
              description: |
                The organization that manages this programeoffering. [`expandable`](#tag/organization_model)
                By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
              oneOf:
                - title: organizationId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: Organization object
                  type: object
                  description: A description of a group of people working together to achieve a goal
                  required: *ref_52
                  properties: *ref_53
            academicSession:
              description: |
                The academicsession during which this programoffering takes place. [`expandable`](#tag/academic_session_model)
                By default only the `academicSessionId` (a string) is returned. If the client requested an expansion of `academicSession` the full academicsession object should be returned.
              oneOf:
                - title: academicSessionId
                  type: string
                  description: An identifier of another resource.
                  format: uuid
                - title: AcademicSession object
                  type: object
                  description: |
                    A named period of time that can be used to communicate the various schedules and time periods an institution recognizes and uses to organize their education. AcademicSessions can be nested.
                    Offerings MAY be be linked to a specific AcademicSession to indicate that the specified Offering takes place during the AcademicSession, however this is not mandatory.
                  required: *ref_35
                  properties: *ref_36
    CourseResult:
      allOf: &ref_69
        - type: object
          description: A result as part of an association
          required: *ref_28
          properties: *ref_29
        - type: object
          required:
            - studyLoad
          properties:
            studyLoad:
              type: object
              description: The amount of effort to complete this education in the specified unit.
              properties: *ref_30
              example: *ref_31
    CourseOfferingAssociation:
      allOf: &ref_94
        - allOf: *ref_32
        - type: object
          properties:
            result:
              allOf: *ref_69
    CourseId:
      type: object
      description: An object describing the metadata of a course
      required: &ref_70
        - courseId
      properties: &ref_71
        courseId:
          type: string
          description: Unique id of this course
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          readOnly: true
    CourseProperties:
      type: object
      description: An object describing the metadata of a course
      required: &ref_72
        - name
        - abbreviation
        - description
        - teachingLanguage
        - level
        - primaryCode
      properties: &ref_73
        primaryCode:
          description: The primary human readable identifier for this course. This is often the source identifier as defined by the institution.
          readOnly: true
          type: object
          properties: *ref_6
          required: *ref_7
          additionalProperties: false
          example: *ref_13
        name:
          type: array
          description: The name of this course (ECTS-title)
          minItems: 1
          items:
[...]
