openapi: 3.0.3
info:
  version: 5.0.0
  title: Open Education API
  description: "OpenAPI (fka Swagger) specification for the Open Education API.\n<br/>\nNOTE:This is a subset of the OOAPI that is used in the \"MBO-Toetsafname\" project (sponsored by mbo-digitaal in the netherlands). This project uses the \"nl-test-admin\" consumer \n<br/>\n<figure>\n\t<a target=\"_blank\" href=\"OOAPIv5_model.png\">\n  <img src=\"OOAPIv5_model.png\" alt=\"OOAPI information model that feeds OOAPI specification\" width=\"70%\" class=\"img-responsive\">\n  </a>\n  <figcaption> OOAPI information model that feeds OOAPI specification (click to enlage)</figcaption>\n</figure>\n\nThe model provides an overview of how the objects on which the API is specified are related. The overarching concept educations is not found in the in the end points of the API. The smaller concepts of programOffering, courseOffering and conceptOffering are all found in the offering endpoint. The different types of association can all be found in the association endpoint.\n\nThe original file for this model can be found <a target=\"_blank\" href=\"OOAPIv5_model_v0.4.drawio\">here</a>\n\nThe program relations object is not found as a separate endpoint but relations between programs can be found within the program endpoint by expanding that endpoint.\n\nInformation about earlier meetings and presentations can be found <a target=\"_blank\" href=\"https://github.com/open-education-api/notulen\">here</a>\n\nInformation on the EDU-API model that was also used for this api is shown <a target=\"_blank\" href=\"eduapi.png\">here</a>\n"
  x-logo:
    url: ../logo.png
servers:
  - url: http://demo01.eduapi.nl/v5
    description: SURF demo implementation
tags:
  - name: service metadata
    description: The service API provides additional metadata needed to make the OOAPI fit for this organization.
  - name: associations
    description: |
      The associations API provides information about the association between an offering and a person (e.g. students, lecturers, etc).
      Associations can be posted between institutions This requires information details on the offering and the persons.
      To allow for this information a complete person object and offering object can be part of the API.
      The structure is explained in the following model:
      <table>
        <tr>
         <td></td>
         <td colspan=3 align=center>offering</td>
        </tr>
        <tr>
         <td rowspan=3>student</td>
         <td></td>
         <!-- <td>internal</td>
         -->
         <td>external</td>
        </tr>
        <tr>
         <td>internal</td>
         <!-- <td>POST <a href="#tag/offerings/paths/~1offerings~1{offeringId}~1associations~1external/post">/offerings/{offeringId}/associations/me</a> local enrollment based on selected offering
          This call will allow for a local student using his .wellknown credentials to enroll for the offering identified by the offeringId
          <br>Alternatively the association can also be created through POST <a href="#tag/associations/paths/~1associations~1me/post">/associations/me</a>
         </td>
         -->
         <td>POST <a href="#tag/associations/paths/~1associations~1external~1me/post">/associations/external/me</a> gets student details from .wellknown at home institution. It passes offering details (provided by external institution) to the home institution so the home institution can create a placeholder for the offering and its results.
         </td>
        </tr>
        <tr>
         <td>external</td>
          <!--
          <td>
          This method is not yet implemented it requires full student details and offering details. This would mean the
          OOAPI message would contain more than one resource in the message. At the moment the student mobility project is looking into
          a sollution.
          <br> Alternatively it could be achieved through using two calls:
          <ul>
           <li>create student with POST <a href="#tag/persons/paths/~1persons~1{personId}/post">/persons</a></li>
           <li><a href="#tag/offerings/paths/~1offerings~1{offeringId}~1associations~1external/post">/offerings/{offeringId}/associations/me</a></li>
          </ul>
          for the enrollment
         </td>
          -->
         <td>no support needed</td>
        </tr>
      </table>
      Direct update of current information: <a href="#tag/associations/paths/~1associations~1{associationId}/patch"> PATCH /associations/{associationId}</a>
      This call is currently limited to passing results and a remote state. For future use other association resource information could be passed.
      More information on the support for student mobility can be found
      <a href="https://swimlanes.io/d/s5mfpj7Si">here</a>
  - name: components
    description: The components API provides information about components being part of parent courses.
  - name: groups
    description: The groups API provides information about groups that are related to organizations, persons and offerings. Groups of students that are related to an offering are typically used for rostering. The rostering application assigns students based on these groups. For example, class 1b will be assigned to the course offering on monday morning. Not all groups are related to an offering. A group of people can also be a team that is working on a task outside the OOAPI scope. These can be teams of students, but also teams of employees.
  - name: offerings
    description: The offerings API provides information about offerings which have a global timeframe, e.g. a period to which students can enroll.
  - name: organizations
    description: The organizations API provides the organizations that are responsible for the execution and recognition of education.
  - name: persons
    description: The persons API provides information about persons related to an organization.
  - name: documents
    description: The documments API provides access to the documents in a binary format
  - name: program_model
    x-displayName: Program
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Program" />
  - name: component_model
    x-displayName: Component
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Component" />
  - name: program_offering_model
    x-displayName: ProgramOffering
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ProgramOffering" />
  - name: course_offering_model
    x-displayName: CourseOffering
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/CourseOffering" />
  - name: component_offering_model
    x-displayName: ComponentOffering
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ComponentOffering" />
  - name: association_model
    x-displayName: Association
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/AssociationFull" />
  - name: person_model
    x-displayName: Person
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Person" />
  - name: group_model
    x-displayName: Group
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Group" />
  - name: organization_model
    x-displayName: Organization
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Organization" />
paths:
  /:
    get:
      parameters: []
      summary: GET /
      operationId: listServiceMetaData
      description: Get metadata for the service.
      tags:
        - service metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: A metadataset providing details on the provider of this OOAPI implementation
                required: &ref_74
                  - contactEmail
                  - specification
                  - documentation
                properties: &ref_75
                  contactEmail:
                    type: string
                    description: Contact e-mail address of the service owner
                    format: email
                    maxLength: 256
                    example: admin@universiteitvanharderwijk.nl
                  specification:
                    type: string
                    description: URL of the API specification (YAML or JSON, compliant with [Open API Specification v3](https://github.com/OAI/OpenAPI-Specification/))
                    format: uri
                    maxLength: 2048
                    example: https://rawgit.com/open-education-api/specification/v3/docs.html#tag/course-offerings/paths/~1course-offerings/get
                  documentation:
                    type: string
                    description: URL of the API documentation, including general terms and privacy statement
                    format: uri
                    maxLength: 2048
                    example: https://open-education-api.github.io/specification/v4/docs.html
                  supportedVersions:
                    type: array
                    items:
                      type: string
                      description: The version number of the specification
                      enum: &ref_71
                        - v4
                        - v5
                      example: v5
                  supportedConsumers:
                    type: array
                    items:
                      type: object
                      description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                      required: &ref_72
                        - consumerKey
                        - version
                      properties: &ref_73
                        consumerKey:
                          description: The key of the consumer (destination) for which this information is intended. See the [consumer registry](https://open-education-api.github.io/specification/#/consumers) for more information.
                          type: string
                          example: nl-test-admin
                        version:
                          description: the version number of this consumer
                          type: string
                          example: 0.9.3
                  consumers:
                    description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
                    type: array
                    items:
                      type: object
                      description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                      required: &ref_4
                        - consumerKey
                      properties: &ref_5
                        consumerKey:
                          description: The key of the consumer (destination) for which this information is intended. See the [consumer registry](https://open-education-api.github.io/specification/#/consumers) for more information.
                          type: string
                      additionalProperties: true
                    example: &ref_21
                      - consumerKey: x-test-consumer
                        additional: custom
                        attributes: here
                  ext:
                    type: object
                    description: Object for additional non-standard attributes
        '400':
          description: Bad request
          content: &ref_8
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: &ref_0
                  - status
                  - title
                properties: &ref_1
                  status:
                    type: string
                    description: The HTTP status code
                    example: '404'
                  title:
                    type: string
                    description: A short, human-readable summary of the problem type
                    example: Resource not found
                  detail:
                    type: string
                    description: A human-readable explanation specific to this occurrence of the problem
        '401':
          description: Unauthorized
          content: &ref_9
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: *ref_0
                properties: *ref_1
        '403':
          description: Forbidden
          content: &ref_10
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: *ref_0
                properties: *ref_1
        '404':
          description: Not Found
          content: &ref_11
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: *ref_0
                properties: *ref_1
        '405':
          description: Method not allowed
          content: &ref_12
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: *ref_0
                properties: *ref_1
        '429':
          description: Too many requests
          content: &ref_13
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: *ref_0
                properties: *ref_1
        '500':
          description: Internal Server Error
          content: &ref_14
            application/problem+json:
              schema:
                type: object
                description: A system message including the error code and an explanation
                required: *ref_0
                properties: *ref_1
  /persons/{personId}:
    get:
      summary: GET /persons/{personId}
      operationId: listPersonById
      description: Get a single person.
      security:
        - oAuthFlows:
            - nl-test-admin-flow-1-5
      tags:
        - persons
      parameters:
        - name: personId
          in: path
          description: User ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf: &ref_15
                  - type: object
                    properties: &ref_76
                      personId:
                        type: string
                        description: Unique id of this person
                        format: uuid
                        example: 123e4567-e89b-12d3-a456-426614174000
                    required: &ref_77
                      - personId
                  - type: object
                    description: A person that has a relationship with this institution
                    required: &ref_87
                      - givenName
                      - surname
                      - displayName
                      - affiliations
                      - mail
                      - primaryCode
                      - activeEnrollment
                    properties: &ref_88
                      primaryCode:
                        description: The primary human readable identifier for the person. This is often the source identifier as defined by the institution.
                        example:
                          codeType: studentNumber
                          code: 0
                        readOnly: true
                        type: object
                        properties: &ref_2
                          codeType:
                            type: string
                            description: |
                              The code/identifier type. 

                              This is an *extensible enumeration*. Use `x-` to prefix custom values

                              The predefined values are:
                                - `brin`: The registration number for a Dutch educational institution that is issued by the Dutch Ministry of Education, Culture and Science
                                - `crohoCreboCode`: programs with a CREBO and CROHO number are accredited by the Dutch Ministry of Education, Culture and Science (OCW)
                                - `programCode`: Identifier for the program (collection of courses)
                                - `courseCode`: Identifier for the course 
                                - `componentCode`: The code for a component (part of a course)
                                - `offeringCode`: The code to identify a specific offering (program, course or component offering)
                                - `organizationId`: The identifier for the organization
                                - `buildingId`: The number or code to identify a building
                                - `bagId`: The identification of a building as it is known in the Dutch Building Administration (BAG)
                                - `roomCode`: The code for a room
                                - `systemId`: Identifier assigned to an entity in context of a specific system
                                - `productId`: Identifier assigned to a specific product
                                - `nationalIdentityNumber`: Identifier assigned by the governement of the person. e.g. a social security number in the USA
                                - `studentNumber`: Identifier for the student
                                - `studielinkNumber`: Identifier for the person as determined by Studielink
                                - `esi`: European Student Identifier
                                - `userName`: The name of a user
                                - `accountId`: Identifier assigned to a specific account
                                - `emailAdress`: An email address
                                - `groupCode`: The identifier for a group (of persons)
                                - `isbn`: International Standard Book Number that serve as product identifiers for Books
                                - `issn`: International Standard Book Number that serve as product identifiers for periodicals
                                - `orcId`: Open Researcher and Contributor ID
                                - `uuid`: A universally unique identifier
                                - `schacHome`: Home organization using the domain name of the organization
                                - `identifier`: Generic Identifier
                                - `eckid`: ID used in the education content chain
                                - `nationalEducationCode`: Code used to specify an education with in a country (e.g. RIO opleidingscode for NL) 
                            x-ooapi-extensible-enum: &ref_78
                              - brin
                              - crohoCreboCode
                              - programCode
                              - courseCode
                              - componentCode
                              - offeringCode
                              - organizationId
                              - buildingId
                              - bagId
                              - roomCode
                              - systemId
                              - productId
                              - nationalIdentityNumber
                              - studentNumber
                              - studielinkNumber
                              - esi
                              - userName
                              - accountId
                              - emailAdress
                              - groupCode
                              - isbn
                              - issn
                              - orcId
                              - uuid
                              - schacHome
                              - identifier
                              - eckid
                              - nationalEducationCode
                            example: identifier
                          code:
                            description: Human readable value for the code/identifier
                            type: string
                        required: &ref_3
                          - codeType
                          - code
                        additionalProperties: false
                      givenName:
                        type: string
                        description: The first name of this person
                        maxLength: 256
                        example: Maartje
                      surnamePrefix:
                        type: string
                        description: The prefix of the family name of this person
                        example: van
                      surname:
                        type: string
                        description: The family name of this person
                        maxLength: 256
                        example: Damme
                      displayName:
                        type: string
                        description: The name of this person which will be displayed
                        maxLength: 256
                        example: Maartje van Damme
                      initials:
                        type: string
                        description: The initials of this person
                        example: MCW
                      activeEnrollment:
                        type: boolean
                        description: Whether this person has an active enrollment.
                        example: false
                      dateOfBirth:
                        type: string
                        description: The date of birth of this person, RFC3339 (full-date)
                        format: date
                        example: '2003-09-30'
                      cityOfBirth:
                        type: string
                        description: The city of birth of this person
                        example: Utrecht
                      countryOfBirth:
                        type: string
                        description: The country of birth of this person the country code according to [iso-3166-1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
                        example: NL
                      nationality:
                        type: string
                        description: The nationality (CCA3) of this person according to https://gist.github.com/zspine/2365808.
                        example: Dutch
                      dateOfNationality:
                        type: string
                        description: The date of nationality of this person, RFC3339 (full-date)
                        format: date
                        example: '2003-09-30'
                      affiliations:
                        type: array
                        description: |
                          The affiliations of this person, the relations a person has with the organization providing this endpoint
                          - student: student
                          - employee: medewerker
                          - guest: gast
                        items: &ref_79
                          type: string
                          enum:
                            - student
                            - employee
                            - guest
                          example: student
                      mail:
                        type: string
                        description: The primary e-mailaddress of this person
                        format: email
                        maxLength: 256
                        example: vandamme.mcw@universiteitvanharderwijk.nl
                      secondaryMail:
                        type: string
                        description: The secondary e-mailaddress of this person
                        format: email
                        maxLength: 256
                        example: poekie@xyz.nl
                      telephoneNumber:
                        type: string
                        description: The telephone number of this person
                        maxLength: 256
                        example: +31 123 456 789
                      mobileNumber:
                        type: string
                        description: The mobile number of this person
                        maxLength: 256
                        example: +31 612 345 678
                      photoSocial:
                        type: string
                        description: The url of the informal picture of this person
                        format: uri
                        maxLength: 2048
                        example: https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Placeholder_female_superhero_c.png/203px-Placeholder_female_superhero_c.png
                      photoOfficial:
                        type: string
                        description: The url of the official picture of this person
                        format: uri
                        maxLength: 2048
                        example: https://upload.wikimedia.org/wikipedia/commons/6/66/Johannes_Vermeer_%281632-1675%29_-_The_Girl_With_The_Pearl_Earring_%281665%29.jpg
                      gender:
                        type: string
                        description: The gender of this person
                        enum: &ref_80
                          - M
                          - F
                          - U
                          - X
                        example: F
                      titlePrefix:
                        type: string
                        description: A title prefix to be used for this person
                        example: drs
                      titleSuffix:
                        type: string
                        description: A title suffix to be used for this person
                        example: BSc
                      office:
                        type: string
                        description: The name of the office where this person is located
                      address:
                        type: object
                        description: The full street address
                        required: &ref_16
                          - addressType
                        properties: &ref_17
                          addressType:
                            type: string
                            description: |
                              Address type
                              - postal: post
                              - visit: bezoek
                              - deliveries: bezorg
                              - billing: factuur
                              - teaching: the address where education takes place
                            enum: &ref_81
                              - postal
                              - visit
                              - deliveries
                              - billing
                              - teaching
                          street:
                            type: string
                            description: The street name
                            example: Moreelsepark
                          streetNumber:
                            type: string
                            description: The street number
                            example: '48'
                          additional:
                            type: array
                            description: Further details like building name, suite, apartment number, etc.
                            minItems: 1
                            items:
                              type: object
                              description: A String with an associated language code.
                              properties: &ref_6
                                language:
                                  description: The language used in the described entity. A string formatted according to RFC3066.
                                  type: string
                                  pattern: ^[a-z]{2,4}(-[A-Z][a-z]{3})?(-([A-Z]{2}|[0-9]{3}))?$
                                value:
                                  description: String to describe the entity.
                                  type: string
                              example: &ref_7
                                language: en-GB
                                value: program that is a place holder for all courses that are made available for student mobility
                            example:
                              - language: en-GB
                                value: On the other side of the road
                          postalCode:
                            type: string
                            description: Postal code
                            example: 3511 EP
                          city:
                            type: string
                            description: name of the city / locality
                            example: Utrecht
                          countryCode:
                            type: string
                            description: the country code according to [iso-3166-1-alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
                            example: NL
                          geolocation:
                            type: object
                            description: Geolocation of the entrance of this address (WGS84 coordinate reference system)
                            required:
                              - latitude
                              - longitude
                            properties:
                              latitude:
                                type: number
                                format: double
                                example: 52.089123
                              longitude:
                                type: number
                                format: double
                                example: 5.113337
                          ext:
                            type: object
                            description: Object for additional non-standard attributes
                      ICEName:
                        type: string
                        description: Full name of In Case of Emergency contact
                        maxLength: 256
                        example: Janne
                      ICEPhoneNumber:
                        type: string
                        description: Phone number of In Case of Emergency contact
                        maxLength: 256
                        example: +31 623 456 789
                      ICERelation:
                        type: string
                        description: Type of relation between person and In Case of Emergency contact
                        enum: &ref_82
                          - partner
                          - parent
                          - other
                        example: partner
                      languageOfChoice:
                        type: array
                        description: The language(s) of choice for this person, RFC3066
                        items:
                          type: string
                          example: nl-NL
                      otherCodes:
                        type: array
                        description: An array of additional human readable codes/identifiers for the entity being described.
                        items:
                          type: object
                          properties: *ref_2
                          required: *ref_3
                          additionalProperties: false
                          example: &ref_18
                            codeType: identifier
                            code: 1234qwe12
                        example:
                          - codeType: nationalIdentityNumber
                            code: '00000'
                      consumers:
                        description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
                        type: array
                        items: &ref_85
                          anyOf:
                            - type: object
                              description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                              required: *ref_4
                              properties: *ref_5
                              additionalProperties: true
                            - type: object
                              description: nl-test-admin add-on attributes to the Association
                              required: &ref_83
                                - consumerKey
                              properties: &ref_84
                                consumerKey:
                                  type: string
                                preferredName:
                                  type: string
                                  description: The name by which the person refers to him/het/their self, how the person would like to be called. Usually first name of this person
                                  maxLength: 256
                                  example: Maar
                                assignedNeeds:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      code:
                                        description: Human readable value for the code/identifier
                                        type: string
                                      description:
                                        type: array
                                        description: The description of this assignedNeed.
                                        minItems: 1
                                        items:
                                          type: object
                                          description: A String with an associated language code.
                                          properties: *ref_6
                                          example: *ref_7
                                        example:
                                          - language: en-GB
                                            value: Extra time for Math tests shown in a percentile of the overall time of a test
                                      startDate:
                                        type: string
                                        description: The day on which this assigned need starts, RFC3339 (full-date)
                                        format: date
                                        example: '2020-08-17'
                                      endDate:
                                        type: string
                                        description: The day on which this assigned need ends, RFC3339 (full-date)
                                        format: date
                                        example: '2025-07-31'
                                  minItems: 0
                                  description: |
                                    Assigned resources or time based on the needs of a person. 
                                    These needs can later in the flows be mapped to a personalNeed for a specific association
                                    Examples of such assignedNeeds: "ExtraTimeOnlyMath25%", "ExtraTimeOnlyMath30Min", "ExtraTimeDigitalTests25%"
                                idCheckName:
                                  type: string
                                  description: |
                                    The name of the person as printed on the official identification documents (Driver's license or passport or id card)
                                    This MUST be formatted as "surname prefix surname, given names"  (separating surnamePrefix and surname with a single space and surname and given names by a comma and space) 
                                    If the surname or given names are not available or secret the value of "secret" and "notAvailable" are recommended, surname prefix can be omitted.
                                    E.g. "van der Graaf, Jacobus Adrianus"
                                    Optionally the value of the student number can be added to this field by adding this at the end separated by a comma.
                                    E.g. "van der Graaf, Jacobus Adrianus, s12345678"
                        example: &ref_86
                          - consumerKey: nl-test-admin
                            assignedNeeds:
                              code: extraTimeOnlyMath25%
                              description:
                                - language: nl-NL
                                  value: Extra tijd in een percentage van de totatel tijd van een toets waarin rekenen voorkomt
                              startDate: '2023-10-25'
                              endDate: '2025-09-30'
                            idCheckName: Damme, Maartje van
                      ext:
                        type: object
                        description: Object for additional non-standard attributes
              examples:
                Person values:
                  value:
                    personId: 123e4567-e89b-12d3-a456-426614174000
                    primaryCode:
                      codeType: identifier
                      code: 1234qwe12
                    givenName: Maartje
                    surnamePrefix: van
                    surname: Damme
                    displayName: Maartje van Damme
                    initials: MCW
                    activeEnrollment: true
                    affiliations:
                      - student
                    mail: vandamme.mcw@universiteitvanharderwijk.nl
                    languageOfChoice:
                      - nl-NL
                    otherCodes:
                      - codeType: eckid
                        code: '00000'
                    consumers:
                      - consumerKey: nl-test-admin
                        preferredName: Maar
                        assignedNeeds:
                          code: extraTimeOnlyMath25%
                          description:
                            - language: nl-NL
                              value: Extra tijd van 25% bij de totale tijd van een toets waarin rekenen voorkomt
                          startDate: '2023-10-25'
                          endDate: '2025-09-30'
                        idCheckName: Damme, Maartje van
        '400':
          description: Bad request
          content: *ref_8
        '401':
          description: Unauthorized
          content: *ref_9
        '403':
          description: Forbidden
          content: *ref_10
        '404':
          description: Not Found
          content: *ref_11
        '405':
          description: Method not allowed
          content: *ref_12
        '429':
          description: Too many requests
          content: *ref_13
        '500':
          description: Internal Server Error
          content: *ref_14
    put:
      summary: PUT /persons/{personId}
      description: |
        PUT a single person from the leading/source system into a following system. 
      operationId: replacePersonById
      security:
        - oAuthFlows:
            - nl-test-admin-flow-1-5
      tags:
        - persons
      parameters:
        - name: personId
          in: path
          description: Person ID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: person
              allOf: *ref_15
            examples:
              Create person in remote system:
                value:
                  personId: 123e4567-e89b-12d3-a456-426614174000
                  primaryCode:
                    codeType: identifier
                    code: 1234qwe12
                  givenName: Maartje
                  surnamePrefix: van
                  surname: Damme
                  displayName: Maartje van Damme
                  initials: MCW
                  activeEnrollment: true
                  affiliations:
                    - student
                  mail: vandamme.mcw@universiteitvanharderwijk.nl
                  languageOfChoice:
                    - nl-NL
                  otherCodes:
                    - codeType: eckid
                      code: '00000'
                  consumers:
                    - consumerKey: nl-test-admin
                      preferredName: Maar
                      assignedNeeds:
                        code: extraTimeOnlyMath25%
                        description:
                          - language: nl-NL
                            value: Extra tijd van 25% bij de totale tijd van een toets waarin rekenen voorkomt
                        startDate: '2023-10-25'
                        endDate: '2025-09-30'
                      idCheckName: Damme, Maartje van
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          description: Bad request
          content: *ref_8
        '401':
          description: Unauthorized
          content: *ref_9
        '403':
          description: Forbidden
          content: *ref_10
        '404':
          description: Not Found
          content: *ref_11
        '405':
          description: Method not allowed
          content: *ref_12
        '429':
          description: Too many requests
          content: *ref_13
        '500':
          description: Internal Server Error
          content: *ref_14
  /organizations/{organizationId}:
    get:
      summary: GET /organizations/{organizationId}
      operationId: listOrganizationById
      description: Get a single organization.
      security:
        - oAuthFlows:
            - nl-test-admin-flow-1-5
      tags:
        - organizations
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
            format: uuid
        - name: expand
          in: query
          explode: false
          description: Optional properties to expand, separated by a comma
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - parent
                - children
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: A description of a group of people working together to achieve a goal
                required: &ref_19
                  - organizationId
                  - organizationType
                  - name
                  - shortName
                  - primaryCode
                properties: &ref_20
                  organizationId:
                    type: string
                    description: Unique id of this organization
                    format: uuid
                    example: 123e4567-e89b-12d3-a456-123514174000
                    readOnly: true
                  primaryCode:
                    description: The primary human readable identifier for the organization. This is often the source identifier as defined by the institution.
                    example:
                      codeType: orgId
                      code: Org01-Root
                    readOnly: true
                    type: object
                    properties: *ref_2
                    required: *ref_3
                    additionalProperties: false
                  organizationType:
                    type: string
                    description: |
                      The type of this organization. Each OOAPI endpoint should have a single organization with type `root`, describing the root organization.
                      - root: the root of this organization, representing the Educational Institution itself
                      - institute: instituut
                      - department: departement
                      - faculty: faculteit
                      - branch: vestiging
                      - academy: academie
                      - school: school
                    enum: &ref_89
                      - root
                      - institute
                      - department
                      - faculty
                      - branch
                      - academy
                      - school
                    example: root
                  name:
                    type: array
                    description: The name of the organization
                    minItems: 1
                    items:
                      type: object
                      description: A String with an associated language code.
                      properties: *ref_6
                      example: *ref_7
                    example:
                      - language: nl-NL
                        value: Coöperatie SURF U.A.
                  shortName:
                    type: string
                    description: Short name of the organization
                    maxLength: 256
                    example: SURF
                  description:
                    type: array
                    description: Any general description of the organization should clearly mention the type of higher education organization, especially in the case of a binary system. In Dutch; universiteit (university) or hogeschool (university of applied sciences).
                    minItems: 1
                    items:
                      type: object
                      description: A String with an associated language code.
                      properties: *ref_6
                      example: *ref_7
                    example:
                      - language: nl-NL
                        value: SURF is een coöperatieve vereniging van Nederlandse onderwijs- en onderzoeksinstellingen waarin de leden hun krachten bundelen. De leden zijn eigenaar van SURF.
                  addresses:
                    type: array
                    description: Addresses of this organization
                    items:
                      type: object
                      description: The full street address
                      required: *ref_16
                      properties: *ref_17
                  link:
                    type: string
                    description: URL of the organization's website
                    format: uri
                    maxLength: 2048
                    example: https://surf.nl
                  logo:
                    type: string
                    description: Logo of this organization
                    format: uri
                    maxLength: 2048
                    example: https://www.surf.nl/themes/surf/logo.svg
                  otherCodes:
                    type: array
                    description: An array of additional human readable codes/identifiers for the entity being described.
                    minItems: 1
                    items:
                      type: object
                      properties: *ref_2
                      required: *ref_3
                      additionalProperties: false
                      example: *ref_18
                    example:
                      - codeType: brin
                        code: 00AA
                      - codeType: kvk
                        code: '12345678'
                  parent:
                    description: |
                      The organizational unit which is the parent of this organization. [`expandable`](#tag/organization_model)
                      By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
                    oneOf:
                      - title: organizationId
                        type: string
                        description: An identifier of another resource.
                        format: uuid
                      - title: Organization object
                        type: object
                        description: A description of a group of people working together to achieve a goal
                        required: *ref_19
                        properties: *ref_20
                  children:
                    type: array
                    description: |
                      All the organizational units for which this organization is the parent. [`expandable`](#tag/organization_model)
                      By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
                    items:
                      oneOf:
                        - title: organizationId
                          type: string
                          description: An identifier of another resource.
                          format: uuid
                        - title: Organization object
                          type: object
                          description: A description of a group of people working together to achieve a goal
                          required: *ref_19
                          properties: *ref_20
                  consumers:
                    description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
                    type: array
                    items:
                      type: object
                      description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                      required: *ref_4
                      properties: *ref_5
                      additionalProperties: true
                    example: *ref_21
                  ext:
                    type: object
                    description: Object for additional non-standard attributes
        '400':
          description: Bad request
          content: *ref_8
        '401':
          description: Unauthorized
          content: *ref_9
        '403':
          description: Forbidden
          content: *ref_10
        '404':
          description: Not Found
          content: *ref_11
        '405':
          description: Method not allowed
          content: *ref_12
        '429':
          description: Too many requests
          content: *ref_13
        '500':
          description: Internal Server Error
          content: *ref_14
  /components/{componentId}:
    get:
      summary: GET /components/{componentId}
      operationId: listComponentById
      description: Get a single component.
      security:
        - oAuthFlows:
            - nl-test-admin-flow-0
      tags:
        - components
      parameters:
        - name: componentId
          in: path
          description: component ID
          required: true
          schema:
            type: string
            format: uuid
        - name: expand
          in: query
          explode: false
          description: Optional properties to expand, separated by a comma
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - course
                - organization
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: A component is a part of a course
                required: &ref_30
                  - componentId
                  - componentType
                  - name
                  - teachingLanguage
                  - abbreviation
                  - primaryCode
                properties: &ref_31
                  componentId:
                    type: string
                    description: Unique id of this component
                    format: uuid
                    example: 123e4567-e89b-12d3-a456-426614174000
                    readOnly: true
                  primaryCode:
                    description: The primary human readable identifier for this component. This is often the source identifier as defined by the institution.
                    example:
                      codeType: componentCode
                      code: INFOMQNM-WRKCLG-1
                    readOnly: true
                    type: object
                    properties: *ref_2
                    required: *ref_3
                    additionalProperties: false
                  componentType:
                    type: string
                    description: |
                      The component type
                      - test: tentamen
                      - lecture: college
                      - practical: practicum
                      - tutorial: werkcollege
                      - consultation: consultatie
                      - project: project
                      - workshop: workshop
                      - excursion: excursie
                      - independent study: zelfstudie
                      - external: extern
                      - skills training: vaardighedentraining
                    enum: &ref_90
                      - test
                      - lecture
                      - practical
                      - tutorial
                      - consultation
                      - project
                      - workshop
                      - excursion
                      - independent study
                      - external
                      - skills training
                    example: test
                  name:
                    type: array
                    description: The name of this component
                    minItems: 1
                    items:
                      type: object
                      description: A String with an associated language code.
                      properties: *ref_6
                      example: *ref_7
                    example:
                      - language: en-GB
                        value: Written test for INFOMQNM
                  abbreviation:
                    type: string
                    description: The abbreviation of this component
                    maxLength: 256
                    example: Test-INFOMQNM
                  modeOfDelivery:
                    type: array
                    description: |
                      The mode of delivery of the component (ECTS-mode of delivery)
                      - distance-learning: afstandsleren
                      - on campus: op de campus
                      - online: online
                      - hybrid: hybride
                      - situated: op locatie
                    items: &ref_22
                      type: string
                      enum:
                        - distance-learning
                        - on campus
                        - online
                        - hybrid
                        - situated
                      example: situated
                  duration:
                    type: string
                    description: The duration of this component. The duration format is from the ISO 8601 ABNF as given in Appendix A of RFC 3339.
                    pattern: ^(-?)P(?=\d|T\d)(?:(\d+)Y)?(?:(\d+)M)?(?:(\d+)([DW]))?(?:T(?:(\d+)H)?(?:(\d+)M)?(?:(\d+(?:\.\d+)?)S)?)?$
                    example: P1DT30H4S
                  description:
                    type: array
                    description: The description of this component.
                    minItems: 1
                    items:
                      type: object
                      description: A String with an associated language code.
                      properties: *ref_6
                      example: *ref_7
                    example:
                      - language: en-GB
                        value: |
                          'Prove executable knowledge of research methods, including: Acquire knowledge of HCI research paradigms Able to design suitable research studies (e.g., choose between within and between subject designs) Define/apply/design metrics and scales Define/produce materials (e.g., stimuli and questionnaires) Define protocols for research studies Understands and take in account concepts of reliability and validity Analyze and improve methods and analysis of published scientific articles Able to deliver scientific reports
                          Prove executable knowledge of ­­­statistics, including: Handle hypothesis testing with complex designs (e.g., including , dependent, independent, and co variates) Data preparation (e.g., coding and feature selection) Reason towards adequate techniques to ensure valid outcomes (e.g., be aware of type I, type II errors) Select an appropriate sampling method (e.g., stratified) Perform parametric tests (e.g., repeated measures (M)ANOVA) Perform non-parametric tests (e.g., Chi-square, Mann-Whitney, and Kruskal-Wallis)'
                  teachingLanguage:
                    type: string
                    description: The (primary) teaching language in which this component is given, should be a three-letter language code as specified by ISO 639-2.
                    minLength: 3
                    maxLength: 3
                    pattern: ^[a-z]{3}$
                    example: nld
                  learningOutcomes:
                    type: array
                    description: Statements that describe the knowledge or skills students should acquire by the end of a particular course (ECTS-learningoutcome).
                    items:
                      type: array
                      minItems: 1
                      items:
                        type: object
                        description: A String with an associated language code.
                        properties: *ref_6
                        example: *ref_7
                      example:
                        - language: en-GB
                          value: 'Executable knowledge of research methods, including: Acquire knowledge of HCI research paradigms.'
                  enrollment:
                    type: array
                    items:
                      type: object
                      description: A String with an associated language code.
                      properties: *ref_6
                      example: *ref_7
                    description: The extra information that is provided for enrollment
                    example:
                      - language: en-GB
                        value: enrollment through SIS. [The limited implementation of Git Hub Markdown syntax](#tag/formatting-and-displaying-results-from-API) MAY be used for rich text representation.
                  resources:
                    type: array
                    description: An overview of the literature and other resources that is used in this course (ECTS-recommended reading and other sources)
                    items:
                      type: string
                    example:
                      - book to be announced
                      - on-line resource x
                  assessment:
                    type: array
                    description: A description of the way exams for this course are taken (ECTS-assessment method and criteria).
                    minItems: 1
                    items:
                      type: object
                      description: A String with an associated language code.
                      properties: *ref_6
                      example: *ref_7
                    example:
                      - language: en-GB
                        value: Exam on campus
                  addresses:
                    type: array
                    description: Addresses for this component
                    items:
                      type: object
                      description: The full street address
                      required: *ref_16
                      properties: *ref_17
                  otherCodes:
                    type: array
                    description: An array of additional human readable codes/identifiers for the entity being described.
                    items:
                      type: object
                      properties: *ref_2
                      required: *ref_3
                      additionalProperties: false
                      example: *ref_18
                  course:
                    description: |
                      The course of which this component is a part. [`expandable`](#tag/course_model)
                      By default only the `courseId` (a string) is returned. If the client requested an expansion of `course` the full course object should be returned.
                    oneOf:
                      - title: courseId
                        type: string
                        description: An identifier of another resource.
                        format: uuid
                      - title: Course object
                        allOf: &ref_45
                          - type: object
                            description: An object describing the metadata of a course
                            required: &ref_91
                              - courseId
                            properties: &ref_92
                              courseId:
                                type: string
                                description: Unique id of this course
                                format: uuid
                                example: 123e4567-e89b-12d3-a456-426614174000
                                readOnly: true
                          - type: object
                            description: An object describing the metadata of a course
                            required: &ref_105
                              - name
                              - abbreviation
                              - description
                              - teachingLanguage
                              - level
                              - primaryCode
                            properties: &ref_106
                              primaryCode:
                                description: The primary human readable identifier for this course. This is often the source identifier as defined by the institution.
                                readOnly: true
                                type: object
                                properties: *ref_2
                                required: *ref_3
                                additionalProperties: false
                                example: *ref_18
                              name:
                                type: array
                                description: The name of this course (ECTS-title)
                                minItems: 1
                                items:
                                  type: object
                                  description: A String with an associated language code.
                                  properties: *ref_6
                                  example: *ref_7
                                example:
                                  - language: en-GB
                                    value: Academic and Professional Writing
                              abbreviation:
                                type: string
                                description: The abbreviation or internal code used to identify this course (ECTS-code)
                                maxLength: 256
                                example: INFOMQNM
                              studyLoad:
                                type: object
                                description: The amount of effort to complete this education in the specified unit.
                                properties: &ref_24
                                  studyLoadUnit:
                                    description: "The unit in which the studyload is specfied\n- contacttime: CONTACTUUR\tamount of time spent in classes\n- ects: ECTS_PUNT\tEuropean Credit Transfer System\n- sbu: SBU\tstudentloadhours\n- sp: STUDIEPUNT studentpoints\n- hour: UUR\thours\n"
                                    type: string
                                    enum:
                                      - contacttime
                                      - ects
                                      - sbu
                                      - sp
                                      - hour
                                    example: ects
                                  value:
                                    description: The amount of load depicted in numbers
                                    type: number
                                    example: 3
                                example: &ref_25
                                  studyLoadUnit: ects
                                  value: 3
                              modeOfDelivery:
                                type: array
                                description: |
                                  The mode of delivery of the component (ECTS-mode of delivery)
                                  - distance-learning: afstandsleren
                                  - on campus: op de campus
                                  - online: online
                                  - hybrid: hybride
                                  - situated: op locatie
                                items: *ref_22
                              duration:
                                type: string
                                description: The duration of this course. The duration format is from the ISO 8601 ABNF as given in Appendix A of RFC 3339.
                                pattern: ^(-?)P(?=\d|T\d)(?:(\d+)Y)?(?:(\d+)M)?(?:(\d+)([DW]))?(?:T(?:(\d+)H)?(?:(\d+)M)?(?:(\d+(?:\.\d+)?)S)?)?$
                                example: P1DT30H4S
                              firstStartDate:
                                type: string
                                description: The date when participants can follow this course for the first time.
                                format: date
                              description:
                                type: array
                                description: The description of this course (ECTS-description).
                                minItems: 1
                                items:
                                  type: object
                                  description: A String with an associated language code.
                                  properties: *ref_6
                                  example: *ref_7
                                example:
                                  - language: en-GB
                                    value: As with all empirical sciences, to assure valid outcomes, HCI studies heavily rely on research methods and statistics. This holds for the design of user interfaces, personalized recommender systems, and interaction paradigms for the internet of things. This course prepares you to do so by learning you to collect data, design experiments, and analyze the results. By the end of the course, you will have a detailed understanding of how to select and apply quantitative research methods and analysis to address virtually all HCI challenges. Quantitative research and data analysis will be taught in the context of state-of-the-art HCI challenges. Lectures will be alternated with hands-on learning, including work with predefined datasets (e.g., addressing facial features, cognitive load, and emotion). Additionally, students will set up their own research (e.g., using eye tracking). Data processing and analysis will be executed using R.
                              teachingLanguage:
                                type: string
                                description: The (primary) teaching language in which this course is given, should be a three-letter language code as specified by ISO 639-2.
                                minLength: 3
                                maxLength: 3
                                pattern: ^[a-z]{3}$
                                example: nld
                              fieldsOfStudy:
                                type: string
                                description: Field(s) of study (e.g. ISCED-F) (http://uis.unesco.org/sites/default/files/documents/isced-fields-of-education-and-training-2013-en.pdf.
                                maxLength: 4
                                example: '0732'
                              learningOutcomes:
                                type: array
                                description: Statements that describe the knowledge or skills students should acquire by the end of a particular course (ECTS-learningoutcome).
                                items:
                                  type: array
                                  minItems: 1
                                  items:
                                    type: object
                                    description: A String with an associated language code.
                                    properties: *ref_6
                                    example: *ref_7
                                  example:
                                    - language: en-GB
                                      value: 'Executable knowledge of research methods, including: Acquire knowledge of HCI research paradigms.'
                              admissionRequirements:
                                type: array
                                description: This information may be given at an institutional level and/or at the level of individual programmes. Make sure that it is clear whether the information applies to fee-paying students (national and/or international) or to exchange students.
                                example:
                                  - language: en-GB
                                    value: Students need to be enrolled at qualifying institutions of higher education that participate in this alliance
                                minItems: 1
                                items:
                                  type: object
                                  description: A String with an associated language code.
                                  properties: *ref_6
                                  example: *ref_7
                              qualificationRequirements:
                                type: array
                                description: Normally, students will receive a diploma when they have completed the (official) study program and have obtained the required number of credits. If there are any other specific requirements that students need to have fulfilled, mention them here.
                                minItems: 1
                                items:
                                  type: object
                                  description: A String with an associated language code.
                                  properties: *ref_6
                                  example: *ref_7
                              level:
                                type: string
                                description: |
                                  The level of this course (ECTS-year of study if applicable)
                                  - secondary vocational education: mbo
                                  - secondary vocational education 1: mbo 1, corresponds to levelOfQualification 1
                                  - secondary vocational education 2: mbo 2, corresponds to levelOfQualification 2
                                  - secondary vocational education 3: mbo 3, corresponds to levelOfQualification 3
                                  - secondary vocational education 4: mbo 4, corresponds to levelOfQualification 4
                                  - associate degree: associate degree, corresponds to levelOfQualification 5
                                  - bachelor: bachelor, corresponds to levelOfQualification 6
                                  - master: master, corresponds to levelOfQualification 7
                                  - doctoral: doctoraal, corresponds to levelOfQualification 8
                                  - undefined: onbepaald
                                  - undivided: ongedeeld
                                  - nt2-1: NT2 niveau 1
                                  - nt2-2: NT2 niveau 2
                                enum: &ref_23
                                  - secondary vocational education
                                  - secondary vocational education 1
                                  - secondary vocational education 2
                                  - secondary vocational education 3
                                  - secondary vocational education 4
                                  - associate degree
                                  - bachelor
                                  - master
                                  - doctoral
                                  - undefined
                                  - undivided
                                  - nt2-1
                                  - nt2-2
                                example: master
                              enrollment:
                                type: array
                                items:
                                  type: object
                                  description: A String with an associated language code.
                                  properties: *ref_6
                                  example: *ref_7
                                description: The extra information that is provided for enrollment
                                example:
                                  - language: en-GB
                                    value: enrollment through SIS. [The limited implementation of Git Hub Markdown syntax](#tag/formatting-and-displaying-results-from-API) MAY be used for rich text representation.
                              resources:
                                type: array
                                description: An overview of the literature and other resources that is used in this course (ECTS-recommended reading and other sources)
                                items:
                                  type: string
                                example:
                                  - book to be announced
                                  - on-line resource x
                              assessment:
                                type: array
                                description: A description of the way exams for this course are taken (ECTS-assessment method and criteria).
                                minItems: 1
                                items:
                                  type: object
                                  description: A String with an associated language code.
                                  properties: *ref_6
                                  example: *ref_7
                                example:
                                  - language: en-GB
                                    value: Exam on campus
                              link:
                                type: string
                                description: URL of the course's website
                                format: uri
                                maxLength: 2048
                                example: https://osiris.uu.nl/osiris_student_uuprd/OnderwijsCatalogusZoekCursus.do#submitForm?cursuscode=INFOMQNM
                              educationSpecification:
                                description: The educationSpecification of which this course is a more concrete implementation. [`expandable`](#tag/education_specification_model)
                                oneOf:
                                  - title: educationSpecificationId
                                    type: string
                                    description: An identifier of another resource.
                                    format: uuid
                                  - title: EducationSpecification
                                    allOf: &ref_26
                                      - type: object
                                        properties: &ref_93
                                          educationSpecificationId:
                                            type: string
                                            description: Unique id for this education specification
                                            format: uuid
                                            example: 123e4567-e89b-12d3-a456-426614174000
                                        required: &ref_94
                                          - educationSpecificationId
                                      - type: object
                                        description: |
                                          The specification of an education object. This specification allows for other education objects to be derived from it.
                                          It is used to aggregate education objects from a supplying institution.
                                          It clusters programs to a main educationSpecification that is used in registries such as RIO. 
                                        required: &ref_97
                                          - primaryCode
                                          - educationSpecificationType
                                          - name
                                        properties: &ref_98
                                          primaryCode:
                                            description: |
                                              The primary human readable identifier for the entity. 
                                              This will often take the form of a human readable code as defined by the institution or region
                                            type: object
                                            properties: *ref_2
                                            required: *ref_3
                                            additionalProperties: false
                                            example: *ref_18
                                          otherCodes:
                                            type: array
                                            description: An array of additional human readable codes/identifiers for the entity being described.
                                            items:
                                              type: object
                                              properties: *ref_2
                                              required: *ref_3
                                              additionalProperties: false
                                              example: *ref_18
                                            example:
                                              - codeType: crohoCreboCode
                                                code: '1234123'
                                          educationSpecificationType:
                                            type: string
                                            description: |
                                              The type of education specification
                                                - program: HOOPLEIDING
                                                - privateProgram: PARTICULIEREOPLEIDING
                                                - programCluster: HOONDERWIJSEENHEDENCLUSTER
                                                - course: HOONDERWIJSEENHEID
                                            enum: &ref_95
                                              - program
                                              - privateProgram
                                              - cluster
                                              - course
                                            example: program
                                          name:
                                            type: array
                                            items:
                                              type: object
                                              description: A String with an associated language code.
                                              properties: *ref_6
                                              example: *ref_7
                                            description: The name of this education specification
                                            example:
                                              - language: en-GB
                                                value: Bachelor Chemical technology
                                          abbreviation:
                                            type: string
                                            description: The abbreviation of this program
                                            maxLength: 256
                                            example: B Scheikundige Technologie
                                          description:
                                            type: array
                                            items:
                                              type: object
                                              description: A String with an associated language code.
                                              properties: *ref_6
                                              example: *ref_7
                                            description: The description of this program. [The limited implementation of Git Hub Markdown syntax](#tag/formatting-and-displaying-results-from-API) MAY be used for rich text representation.
                                            example:
                                              - language: en-GB
                                                value: program that is a place holder for all courses that are made available for student mobility
                                          formalDocument:
                                            type: string
                                            description: |
                                              The type of formal document obtained after completion of this education
                                                - diploma: DIPLOMA
                                                - certificate: CERTIFICAAT
                                                - no official document: GEEN OFFICIEEL DOCUMENT
                                                - testimonial: GETUIGSCHRIFT
                                                - school advice: SCHOOLADVIES
                                            enum: &ref_96
                                              - diploma
                                              - certificate
                                              - no official document
                                              - testimonial
                                              - school advice
                                            example: diploma
                                          level:
                                            type: string
                                            description: |
                                              The level of this course (ECTS-year of study if applicable)
                                              - secondary vocational education: mbo
                                              - secondary vocational education 1: mbo 1, corresponds to levelOfQualification 1
                                              - secondary vocational education 2: mbo 2, corresponds to levelOfQualification 2
                                              - secondary vocational education 3: mbo 3, corresponds to levelOfQualification 3
                                              - secondary vocational education 4: mbo 4, corresponds to levelOfQualification 4
                                              - associate degree: associate degree, corresponds to levelOfQualification 5
                                              - bachelor: bachelor, corresponds to levelOfQualification 6
                                              - master: master, corresponds to levelOfQualification 7
                                              - doctoral: doctoraal, corresponds to levelOfQualification 8
                                              - undefined: onbepaald
                                              - undivided: ongedeeld
                                              - nt2-1: NT2 niveau 1
                                              - nt2-2: NT2 niveau 2
                                            enum: *ref_23
                                            example: master
                                          sector:
                                            type: string
                                            description: |
                                              The sector for this program
                                              - secondary vocational education: middelbaar beroepsonderwijs
                                              - higher professional education: hoger beroepsonderwijs
                                              - university education: universitair onderwijs
                                            enum: &ref_28
                                              - secondary vocational education
                                              - higher professional education
                                              - university education
                                            example: university education
                                          levelOfQualification:
                                            type: string
                                            description: Level of qualification according to the Dutch National Qualification Framework and the European Qualifications Framework, see [this overview](https://nlqf.nl/images/downloads/English2018/Schematic_overview_NLQF_2020.pdf) for more information.
                                            enum: &ref_27
                                              - '1'
                                              - '2'
                                              - '3'
                                              - '4'
                                              - 4+
                                              - '5'
                                              - '6'
                                              - '7'
                                              - '8'
                                            example: '6'
                                          fieldsOfStudy:
                                            type: string
                                            description: Field(s) of study (e.g. ISCED-F) (http://uis.unesco.org/sites/default/files/documents/isced-fields-of-education-and-training-2013-en.pdf.
                                            maxLength: 4
                                            example: '0732'
                                          studyLoad:
                                            type: object
                                            description: The amount of effort to complete this education in the specified unit.
                                            properties: *ref_24
                                            example: *ref_25
                                          learningOutcomes:
                                            type: array
                                            description: Statements that describe the knowledge or skills students should acquire by the end of a particular course or program (ECTS-learningoutcome).
                                            items:
                                              type: array
                                              minItems: 1
                                              items:
                                                type: object
                                                description: A String with an associated language code.
                                                properties: *ref_6
                                                example: *ref_7
                                              example:
                                                - language: en-GB
                                                  value: 'Executable knowledge of Chemical technology, including: Acquire knowledge of research paradigms.'
                                          link:
                                            type: string
                                            description: URL of the program's website
                                            format: uri
                                            maxLength: 2048
                                            example: https://bijvak.nl
                                          parent:
                                            description: The educationSpecification that is the parent of this educationSpecification if it exists. [`expandable`](#tag/education_specification_model)
                                            oneOf:
                                              - title: educationSpecificationId
                                                type: string
                                                description: An identifier of another resource.
                                                format: uuid
                                              - title: EducationSpecification
                                                allOf: *ref_26
                                          children:
                                            type: array
                                            description: The EducationSpecifications that have this EducationSpecification as their parent. [`expandable`](#tag/education_specification_model)
                                            items:
                                              oneOf:
                                                - title: educationSpecificationId
                                                  type: string
                                                  description: An identifier of another resource.
                                                  format: uuid
                                                - title: EducationSpecification
                                                  allOf: *ref_26
                                          organization:
                                            description: |
                                              The organization that manages this group. [`expandable`](#tag/organization_model)
                                              By default only the `organizationId` (a string) is returned. If the client requested an expansion of `organization` the full organization object should be returned.
                                            oneOf:
                                              - title: organizationId
                                                type: string
                                                description: An identifier of another resource.
                                                format: uuid
                                              - title: Organization object
                                                type: object
                                                description: A description of a group of people working together to achieve a goal
                                                required: *ref_19
                                                properties: *ref_20
                                          consumers:
                                            description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
                                            type: array
                                            items:
                                              type: object
                                              description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                                              required: *ref_4
                                              properties: *ref_5
                                              additionalProperties: true
                                            example:
                                              - consumerKey: rio
                                                educationSpecificationSubType: variant
                                                category:
                                                  - business_and_project_support
                                                  - economy
                                          ext:
                                            type: object
                                            description: Object for additional non-standard attributes
                                      - properties:
                                          validFrom:
                                            description: The first day this EducationSpecification is valid (inclusive).
                                            type: string
                                            format: date
                                          validTo:
                                            description: The day this EducationSpecification ceases to be valid (e.g. exclusive).
                                            type: string
                                            format: date
                              addresses:
                                type: array
                                description: Addresses for this course
                                items:
                                  type: object
                                  description: The full street address
                                  required: *ref_16
                                  properties: *ref_17
                              otherCodes:
                                type: array
                                description: An array of additional human readable codes/identifiers for the entity being described.
                                items:
                                  type: object
                                  properties: *ref_2
                                  required: *ref_3
                                  additionalProperties: false
                                  example: *ref_18
                              consumers:
                                description: The additional consumer elements that can be provided, see the [documentation on support for specific consumers](https://open-education-api.github.io/specification/#/consumers) for more information about this mechanism.
                                type: array
                                items:
                                  type: object
                                  description: Object for communicating data to a specific consumer (destination). This object has no relationship with the `consumer` query parameter.
                                  required: *ref_4
                                  properties: *ref_5
                                  additionalProperties: true
                                example:
                                  - consumerKey: rio
                                    educationOffererCode: 123A321
                                    educationLocationCode: 334X123
                                    consentParticipationSTAP: permission_granted
                                    jointPartnerCodes:
                                      - 123A123
                                    foreignPartners:
                                      - Harvard University
                              ext:
                                type: object
                                description: Object for additional non-standard attributes
                              programs:
                                description: The program of which this course is a part of. This object is [`expandable`](#tag/program_model)
                                type: array
                                items:
                                  oneOf:
                                    - title: programId
                                      type: string
                                      description: An identifier of another resource.
                                      format: uuid
                                    - title: Program object
                                      allOf: &ref_29
                                        - type: object
                                          description: A collection of courses that lead to a certifiable learning outcome
                                          required: &ref_99
                                            - programId
                                          properties: &ref_100
                                            programId:
                                              type: string
                                              description: Unique id for this program
                                              format: uuid
                                              example: 123e4567-e89b-12d3-a456-426614174000
                                              readOnly: true
                                        - type: object
[...]
